In [1]:
import numpy as np
import pandas as pd
import os
import xlrd
import re

In [2]:
excel_files = [f for f in os.listdir("data")]

In [3]:
file = 'RDO No. 1 - Laoag City, Ilocos Norte.xls'
test = pd.ExcelFile(f'data/{file}')

In [4]:
sheet_names = sorted([name for name in test.sheet_names if name.strip().lower().startswith('sheet')], key=lambda name: int(re.search(r'\d+', name).group()))
last_sheet_name = sheet_names[-1] if sheet_names else None

In [5]:
last_sheet_name

'Sheet 9 (DO 047-2023)'

In [6]:
df = pd.read_excel("data/"+file, sheet_name=last_sheet_name, header=None)

In [7]:
df

                                                       0    1    2    3
0                            Republic of the Philippines  NaN  NaN  NaN
1                                  DEPARTMENT OF FINANCE  NaN  NaN  NaN
2                                                 MANILA  NaN  NaN  NaN
3                                                    NaN  NaN  NaN  NaN
4                        DEPARTMENT ORDER NO. 047 - 2023  NaN  NaN  NaN
...                                                  ...  ...  ...  ...
25341       TAXES SHALL BE (1) THE FAIR MARKET VALUE ...  NaN  NaN  NaN
25342       (i.e. ZONAL VALUES) OR (2.)  THE FAIR MAR...  NaN  NaN  NaN
25343       PROVINCIAL/CITY/MUNICIPAL ASSESSOR, WHICH...  NaN  NaN  NaN
25344                                                NaN  NaN  NaN  NaN
25345                          I-3/APMD (fpt Sept, 2023)  NaN  NaN  NaN

[25346 rows x 4 columns]

In [8]:
def test_function():
    print("All conditions met! Function called.\n")

def clean_value(value):
    value = re.sub(r"^\s*:\s*", "", value.strip())
    value = re.sub(r"(DO No|Effectivity Date)\s*.*", "", value, flags=re.IGNORECASE).strip() # do i add --continued here?
    return value

In [30]:
def main(df):
    #TODO: Ask if remove * in classifcaiton and -- contineu in street or smth
    index = 0
    count = 0
    new_df = pd.DataFrame(columns=['Province', 'City/Municipality', 'Barangay', 'Street/Subdivision', 'Vicinity', 'Classification', 'ZV/SQM'])
    while index < len(df):
        row = df.iloc[index]
        combined_row = ''.join(map(str, row.dropna())).strip()
        
        # Initialize flags
        province_match_flag = False
        city_match_flag = False
        barangay_match_flag = False
        additional_info_flag = False
        
        # Search for "Province :" pattern
        province_pattern = re.search(r"province\s*(.*)", combined_row, re.IGNORECASE)
        if province_pattern:
            province_match_flag = True
            province_value = province_pattern.group(1)  # Capture the text after "Province :"
            province_value = clean_value(province_value)
            
            print(f"Province match found in row {index}: {province_value}")
        
        city_value = None    
        # Check if the next row has "City" or "Municipality"
        if index + 1 < len(df):
            next_row = ''.join(map(str, df.iloc[index + 1].dropna())).strip()
            cleaned_row = clean_value(next_row)
            city_pattern = re.search(r"(?:City|Municipality)(?:\s*/\s*(?:City|Municipality))?\s*[:\s]?\s*(.+)", cleaned_row, re.IGNORECASE)
            # city_pattern = re.search(r"(?:City|Municipality|Municipality\s*/\s*City|City\s*/\s*Municipality)\s*[:\s]?\s*(\w+)", next_row, re.IGNORECASE)
            if city_pattern:
                city_match_flag = True
                city_value = city_pattern.group(1) # Capture the text after "City :" or "Municipality :"
                # city_value = clean_value(city_value)
                
                print(f"City / Municipality match found in row {index + 1}: {city_value}")
                
        barangay_value = None
        # Check if the row after that has "Barangay" or "Zone"
        if index + 2 < len(df):
            following_row = ''.join(map(str, df.iloc[index + 2].dropna())).strip()
            cleaned_row = clean_value(following_row)
            barangay_pattern = re.search(r"(?:Barangay|Zone)(?:\s*/\s*(?:Barangay|Zone))?\s*[:\s]?\s*(.+)", cleaned_row, re.IGNORECASE)
            if barangay_pattern:
                barangay_match_flag = True
                barangay_value = barangay_pattern.group(1).strip()  # Capture the text after "Barangay :" or "Zone :"
                # barangay_value = clean_value(barangay_value)
                
                print(f"Barangay / Zone match found in row {index + 2}: {barangay_value}")
        
        # Only check for additional information if the primary geographic data is found
        if province_match_flag and city_match_flag and barangay_match_flag:
            # Check specific columns for additional information in the next 3 rows
            for offset in range(3, 6):
                if index + offset < len(df):
                    # check for table header
                    subsequent_row = df.iloc[index + offset]
                    
                    # Initialize variables to store the column indices of matches
                    street_name_index = None
                    vicinity_index = None
                    classification_index = None
                    zv_sq_m_index = None
        
                    # Iterate over each column in the row
                    for col_index in range(len(subsequent_row)):
                        cell_value = str(subsequent_row.iloc[col_index])
                        
                        # Check each column independently
                        if re.search(r"(STREET NAME|SUBDIVISION|CONDOMINIUM)", cell_value, re.IGNORECASE):
                            street_name_index = col_index  # Store the index of the match for street name/subdivision/condominium
                        
                        if re.search(r"V.*I.*C.*I.*N.*I.*T.*Y", cell_value, re.IGNORECASE):
                            vicinity_index = col_index  # Store the index of the match for vicinity
                        
                        if re.search(r"CLASS(?:IFICATION)?|C.*L.*A.*S.*S.*I.*F.*I.*C.*A.*T.*I.*O.*N", cell_value, re.IGNORECASE | re.DOTALL):
                            """Made changes so that it reads CLASS on classification column on last column - Raevy"""
                            classification_index = col_index  # Store the index of the match for classification
                        
                        if re.search(r"ZV.*SQ.*M|3rd\s*Rev", cell_value, re.IGNORECASE): 
                            """Made changes so that it reads 3rd Rev on last column - Raevy"""
                            zv_sq_m_index = col_index  # Store the index of the match for ZV SQ M
        
                    # If all matches are found, set the additional_info_flag to True
                    if street_name_index is not None and vicinity_index is not None and classification_index is not None and zv_sq_m_index is not None:
                        additional_info_flag = True
                        # Print the matched indices for debugging purposes
                        print(f"Additional information match found in row {index + offset}")
                        print(f"STREET NAME found in column {street_name_index}")
                        print(f"VICINITY found in column {vicinity_index}")
                        print(f"CLASSIFICATION found in column {classification_index}")
                        print(f"ZV SQ M found in column {zv_sq_m_index}")
                        
                        # Skip to the row after the current match
                        index += offset + 1
                        
                        break  # No need to check further if a match is found
    
        # Call the function only if all conditions are true
        if province_match_flag and city_match_flag and barangay_match_flag and additional_info_flag:
            test_function()
            count += 1
            print(f'{count}\n\n')
            
            # start reading here: age_counter
            age = 0
            col1_holder = None
            vicinity_holder = None 
            while age < 2:
                # print(f"index: {index} and {len(df)}")
                row = df.iloc[index]
                
                col1 = row.iloc[street_name_index]
                vicinity = row.iloc[vicinity_index]
                classification = str(row.iloc[classification_index])
                zv = row.iloc[zv_sq_m_index]
                test = [col1, vicinity, classification, zv]
                print(f"base row: {test}")
                
                if (pd.isnull(classification) or classification.strip() == '') and pd.isnull(zv):
                    age += 1
                    index += 1
                    # print("aging")
                    continue
                
                age = 0
                
                if pd.isnull(col1) or col1.strip() == '':
                    col1 = col1_holder
                if pd.isnull(vicinity) or vicinity.strip() == '':
                    vicinity = vicinity_holder
                
                col1_holder = col1
                vicinity_holder = vicinity
                
                new_df.loc[len(new_df)] = [province_value, city_value, barangay_value, col1, vicinity, classification, zv]
                index += 1
            
            index += 1 
            continue
            
        index += 1
    print(count)
    return new_df

In [31]:
def xls_to_df(filename):
    test = pd.ExcelFile("data/" + filename)
    sheet_names = test.sheet_names
    last_sheet_name = None
    
    # Extract sheet names that start with 'sheet'
    sheet_names = sorted([name for name in sheet_names if name.strip().lower().startswith('sheet')],
                         key=lambda name: int(re.search(r'\d+', name).group()))
    
    if sheet_names:
        last_sheet_name = sheet_names[-1]
    
    if last_sheet_name:
        df = pd.read_excel("data/" + filename, sheet_name=last_sheet_name, header=None)
        return df
    else:
        print(f"No matching sheets found in {filename}")

In [11]:
test = main(df)

City / Municipality match found in row 15: ,  ILOCOS NORTE,  REVENUE  REGION  NO.  1 - CALASIAO,
Barangay / Zone match found in row 22: s  or  areas  and   shall
Barangay / Zone match found in row 23: or   areas,    subject  to   automatic
City / Municipality match found in row 31: , Ilocos Norte, Revenue Region No. 1 - Calasiao, Pangasinan.
City / Municipality match found in row 36: assessor and (2) the gross selling
Barangay / Zone match found in row 108: sA45  Kangkong
City / Municipality match found in row 118: , ILOCOS NORTE
Province match found in row 120: ILOCOS NORTE
City / Municipality match found in row 121: LAOAG CITY
Barangay / Zone match found in row 122: NO. 1 - SAN LORENZO (POBLACION)
Additional information match found in row 124
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

1


City / Municipality match found in row 160: , ILOCOS NORTE
Province match found in row 162: ILOCOS NORTE
City / Municipality match found in row 163: LAOAG CITY
Barangay / Zone match found in row 164: NO. 1 - SAN LORENZO (POBLACION) -- continued
Additional information match found in row 166
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

2


Province match found in row 187: ILOCOS NORTE
City / Municipality match found in row 188: LAOAG CITY
Barangay / Zone match found in row 189: NO. 1 - SAN LORENZO (POBLACION) -- continued
Additional information match found in row 191
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

3


City / Municipality match found in row 216: , ILOCOS NORTE
Province match found in row 218: ILOCOS NORTE
City / Municipality match found in row 219: LAOAG CITY
Barangay / Zone match found in row 220: NO. 2 - SANTA JOAQUINA (POBLACION)
Additional information match found in row 222
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

4


Province match found in row 254: ILOCOS NORTE
City / Municipality match found in row 255: LAOAG CITY
Barangay / Zone match found in row 256: NO. 2 - SANTA JOAQUINA (POBLACION) -- continued
Additional information match found in row 258
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

5


City / Municipality match found in row 282: , ILOCOS NORTE
Province match found in row 284: ILOCOS NORTE
City / Municipality match found in row 285: LAOAG CITY
Barangay / Zone match found in row 286: NO. 3 - NRA. SRA. DEL ROSARIO (POBLACION)
Additional information match found in row 288
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

6


City / Municipality match found in row 322: , ILOCOS NORTE
Province match found in row 324: ILOCOS NORTE
City / Municipality match found in row 325: LAOAG CITY
Barangay / Zone match found in row 326: NO. 3 - NRA. SRA. DEL ROSARIO (POBLACION) -- continued
Additional information match found in row 328
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

7


City / Municipality match found in row 365: , ILOCOS NORTE
Province match found in row 367: ILOCOS NORTE
City / Municipality match found in row 368: LAOAG CITY
Barangay / Zone match found in row 369: NO. 4 - SAN GUILLERMO (POBLACION)
Additional information match found in row 371
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

8


City / Municipality match found in row 407: , ILOCOS NORTE
Province match found in row 409: ILOCOS NORTE
City / Municipality match found in row 410: LAOAG CITY
Barangay / Zone match found in row 411: NO. 4 - SAN GUILLERMO (POBLACION) -- continued
Additional information match found in row 413
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

9


City / Municipality match found in row 445: , ILOCOS NORTE
Province match found in row 447: ILOCOS NORTE
City / Municipality match found in row 448: LAOAG CITY
Barangay / Zone match found in row 449: NO. 4 - SAN GUILLERMO (POBLACION) -- continued
Additional information match found in row 451
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

10


City / Municipality match found in row 474: , ILOCOS NORTE
Province match found in row 476: ILOCOS NORTE
City / Municipality match found in row 477: LAOAG CITY
Barangay / Zone match found in row 478: NO. 5 - SAN PEDRO (POBLACION)
Additional information match found in row 480
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

11


City / Municipality match found in row 518: , ILOCOS NORTE
Province match found in row 520: ILOCOS NORTE
City / Municipality match found in row 521: LAOAG CITY
Barangay / Zone match found in row 522: NO. 5 - SAN PEDRO (POBLACION) -- continued
Additional information match found in row 524
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

12


City / Municipality match found in row 562: , ILOCOS NORTE
Province match found in row 564: ILOCOS NORTE
City / Municipality match found in row 565: LAOAG CITY
Barangay / Zone match found in row 566: NO. 6 - SAN AGUSTIN (POBLACION)
Additional information match found in row 568
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

13


City / Municipality match found in row 607: , ILOCOS NORTE
Province match found in row 609: ILOCOS NORTE
City / Municipality match found in row 610: LAOAG CITY
Barangay / Zone match found in row 611: NO. 6 - SAN AGUSTIN (POBLACION) -- continued
Additional information match found in row 613
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

14


City / Municipality match found in row 653: , ILOCOS NORTE
Province match found in row 655: ILOCOS NORTE
City / Municipality match found in row 656: LAOAG CITY
Barangay / Zone match found in row 657: NO. 7- A, NRA. SRA. DE NATIVIDAD (POBLACION)
Additional information match found in row 659
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

15


City / Municipality match found in row 698: , ILOCOS NORTE
Province match found in row 700: ILOCOS NORTE
City / Municipality match found in row 701: LAOAG CITY
Barangay / Zone match found in row 702: NO. 7- A, NRA. SRA. DE NATIVIDAD (POBLACION) -- continued
Additional information match found in row 704
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

16


City / Municipality match found in row 744: , ILOCOS NORTE
Province match found in row 746: ILOCOS NORTE
City / Municipality match found in row 747: LAOAG CITY
Barangay / Zone match found in row 748: NO. 7-B, NRA. SRA. DE NATIVIDAD (POBLACION)
Additional information match found in row 750
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

17


City / Municipality match found in row 785: , ILOCOS NORTE
Province match found in row 787: ILOCOS NORTE
City / Municipality match found in row 788: LAOAG CITY
Barangay / Zone match found in row 789: NO. 8 - SAN VICENTE (POBLACION)
Additional information match found in row 791
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

18


City / Municipality match found in row 830: , ILOCOS NORTE
Province match found in row 832: ILOCOS NORTE
City / Municipality match found in row 833: LAOAG CITY
Barangay / Zone match found in row 834: NO. 8 - SAN VICENTE (POBLACION) -- continued
Additional information match found in row 836
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

19


City / Municipality match found in row 857: , ILOCOS NORTE
Province match found in row 859: ILOCOS NORTE
City / Municipality match found in row 860: LAOAG CITY
Barangay / Zone match found in row 861: NO. 9 - SANTA ANGELA (POBLACION)
Additional information match found in row 863
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

20


City / Municipality match found in row 901: , ILOCOS NORTE
Province match found in row 903: ILOCOS NORTE
City / Municipality match found in row 904: LAOAG CITY
Barangay / Zone match found in row 905: NO. 9 - SANTA ANGELA (POBLACION) -- continued
Additional information match found in row 907
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

21


City / Municipality match found in row 933: , ILOCOS NORTE
Province match found in row 935: ILOCOS NORTE
City / Municipality match found in row 936: LAOAG CITY
Barangay / Zone match found in row 937: NO. 10 - SAN JOSE (POBLACION)
Additional information match found in row 939
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

22


City / Municipality match found in row 978: , ILOCOS NORTE
Province match found in row 980: ILOCOS NORTE
City / Municipality match found in row 981: LAOAG CITY
Barangay / Zone match found in row 982: NO. 10 - SAN JOSE (POBLACION) -- continued
Additional information match found in row 984
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

23


City / Municipality match found in row 1011: , ILOCOS NORTE
Province match found in row 1013: ILOCOS NORTE
City / Municipality match found in row 1014: LAOAG CITY
Barangay / Zone match found in row 1015: NO. 11 - SAN BALBINA (POBLACION)
Additional information match found in row 1017
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

24


City / Municipality match found in row 1051: , ILOCOS NORTE
Province match found in row 1053: ILOCOS NORTE
City / Municipality match found in row 1054: LAOAG CITY
Barangay / Zone match found in row 1055: NO. 11 - SAN BALBINA (POBLACION) -- continued
Additional information match found in row 1057
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

25


City / Municipality match found in row 1083: , ILOCOS NORTE
Province match found in row 1085: ILOCOS NORTE
City / Municipality match found in row 1086: LAOAG CITY
Barangay / Zone match found in row 1087: NO. 12 - SAN ISIDRO (POBLACION)
Additional information match found in row 1089
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

26


City / Municipality match found in row 1111: , ILOCOS NORTE
Province match found in row 1113: ILOCOS NORTE
City / Municipality match found in row 1114: LAOAG CITY
Barangay / Zone match found in row 1115: NO. 12 - SAN ISIDRO (POBLACION)
Additional information match found in row 1117
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

27


City / Municipality match found in row 1142: , ILOCOS NORTE
Province match found in row 1144: ILOCOS NORTE
City / Municipality match found in row 1145: LAOAG CITY
Barangay / Zone match found in row 1146: NO. 13 - NRA. SRA. DE VISITACION (POBLACION)
Additional information match found in row 1148
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

28


City / Municipality match found in row 1180: , ILOCOS NORTE
Province match found in row 1182: ILOCOS NORTE
City / Municipality match found in row 1183: LAOAG CITY
Barangay / Zone match found in row 1184: NO. 13 - NRA. SRA. DE VISITACION (POBLACION) - continued
Additional information match found in row 1186
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

29


City / Municipality match found in row 1215: , ILOCOS NORTE
Province match found in row 1217: ILOCOS NORTE
City / Municipality match found in row 1218: LAOAG CITY
Barangay / Zone match found in row 1219: NO. 14 - STO TOMAS (POBLACION)
Additional information match found in row 1221
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

30


City / Municipality match found in row 1245: , ILOCOS NORTE
Province match found in row 1247: ILOCOS NORTE
City / Municipality match found in row 1248: LAOAG CITY
Barangay / Zone match found in row 1249: NO. 15 - SAN GUILLERMO (POBLACION)
Additional information match found in row 1251
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

31


City / Municipality match found in row 1287: , ILOCOS NORTE
Province match found in row 1289: ILOCOS NORTE
City / Municipality match found in row 1290: LAOAG CITY
Barangay / Zone match found in row 1291: NO. 16 - SAN JACINTO (POBLACION)
Additional information match found in row 1293
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

32


City / Municipality match found in row 1332: , ILOCOS NORTE
Province match found in row 1334: ILOCOS NORTE
City / Municipality match found in row 1335: LAOAG CITY
Barangay / Zone match found in row 1336: NO. 17 - SAN FRANCISCO (POBLACION)
Additional information match found in row 1338
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

33


City / Municipality match found in row 1371: , ILOCOS NORTE
Province match found in row 1373: ILOCOS NORTE
City / Municipality match found in row 1374: LAOAG CITY
Barangay / Zone match found in row 1375: NO. 18 - SAN QUIRINO (POBLACION)
Additional information match found in row 1377
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

34


City / Municipality match found in row 1406: , ILOCOS NORTE
Province match found in row 1408: ILOCOS NORTE
City / Municipality match found in row 1409: LAOAG CITY
Barangay / Zone match found in row 1410: NO. 19 - STA. MARCELA (POBLACION)
Additional information match found in row 1412
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

35


City / Municipality match found in row 1451: , ILOCOS NORTE
Province match found in row 1453: ILOCOS NORTE
City / Municipality match found in row 1454: LAOAG CITY
Barangay / Zone match found in row 1455: NO. 20 - SAN MIGUEL (POBLACION)
Additional information match found in row 1457
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

36


City / Municipality match found in row 1488: , ILOCOS NORTE
Province match found in row 1490: ILOCOS NORTE
City / Municipality match found in row 1491: LAOAG CITY
Barangay / Zone match found in row 1492: NO. 20 - SAN MIGUEL (POBLACION) -- continued
Additional information match found in row 1494
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

37


City / Municipality match found in row 1529: , ILOCOS NORTE
Province match found in row 1531: ILOCOS NORTE
City / Municipality match found in row 1532: LAOAG CITY
Barangay / Zone match found in row 1533: NO. 21 - SAN PEDRO (POBLACION)
Additional information match found in row 1535
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

38


City / Municipality match found in row 1570: , ILOCOS NORTE
Province match found in row 1572: ILOCOS NORTE
City / Municipality match found in row 1573: LAOAG CITY
Barangay / Zone match found in row 1574: NO. 22 - SAN ANDRES (POBLACION)
Additional information match found in row 1576
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

39


City / Municipality match found in row 1617: , ILOCOS NORTE
Province match found in row 1619: ILOCOS NORTE
City / Municipality match found in row 1620: LAOAG CITY
Barangay / Zone match found in row 1621: NO. 23 - SAN MATIAS (POBLACION)
Additional information match found in row 1623
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

40


City / Municipality match found in row 1660: , ILOCOS NORTE
Province match found in row 1662: ILOCOS NORTE
City / Municipality match found in row 1663: LAOAG CITY
Barangay / Zone match found in row 1664: NO. 24 - NRS. SRA. DE CONSOLACION (POBLACION)
Additional information match found in row 1666
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

41


City / Municipality match found in row 1693: , ILOCOS NORTE
Province match found in row 1695: ILOCOS NORTE
City / Municipality match found in row 1696: LAOAG CITY
Barangay / Zone match found in row 1697: NO. 25 - STA. CAYETANA (POBLACION)
Additional information match found in row 1699
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

42


City / Municipality match found in row 1729: , ILOCOS NORTE
Province match found in row 1731: ILOCOS NORTE
City / Municipality match found in row 1732: LAOAG CITY
Barangay / Zone match found in row 1733: NO. 26 - SAN MARCELINO (POBLACION)
Additional information match found in row 1735
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

43


City / Municipality match found in row 1764: , ILOCOS NORTE
Province match found in row 1766: ILOCOS NORTE
City / Municipality match found in row 1767: LAOAG CITY
Barangay / Zone match found in row 1768: NO. 27 - NRA. SRA. DE SOLEDAD (POBLACION)
Additional information match found in row 1770
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3

# Running for all

In [32]:
for excel in excel_files[22:23]:
    df = xls_to_df(excel)
    processed = main(df)
    processed.to_excel(f"Output/{excel}.xlsx")

Barangay / Zone match found in row 17: s or areas and shall determine the fair market value of real properties located in each zone or
City / Municipality match found in row 28: assessor and (2) the gross selling price/consideration as shown in the
Barangay / Zone match found in row 91: sA45  Kangkong
Province match found in row 102: QUEZON
City / Municipality match found in row 103: ATIMONAN
Barangay / Zone match found in row 104: POBLACION (ZONE 1)D.O. No.037-2022
Additional information match found in row 106
STREET NAME found in column 0
VICINITY found in column 1
CLASSIFICATION found in column 2
ZV SQ M found in column 3
All conditions met! Function called.

1


index: 107 and 7268
base row: ['MAHARLIKA HIGHWAY', nan, 'CR', 7800]
index: 108 and 7268
base row: [nan, nan, 'RR', 6750]
index: 109 and 7268
base row: [nan, nan, 'GP', 4000]
index: 110 and 7268
base row: [nan, nan, 'CL', 3000]
index: 111 and 7268
base row: [nan, 'MENDOZA COMPOUND', 'RR', 6000]
index: 112 and 7268
base row: ['AGUINALDO ST.', nan, 'CR', 8250]
index: 113 and 7268
base row: [nan, nan, 'RR', 6750]
index: 114 and 7268
base row: [nan, 'INTERIOR LOTS', 'RR', 5250]
index: 115 and 7268
base row: ['ANGELES ST.', nan, 'CR', 7750]
index: 116 and 7268
base row: [nan, nan, 'RR', 6750]
index: 117 and 7268
base row: ['BALAGTAS ST.', nan, 'CR', 7250]
index: 118 and 7268
base row: [nan, nan, 'RR', 6500]
index: 119 and 7268
base row: ['CERRUDO ST.', 'Emil-Joana Hosp.', 'CR', 11500]
index: 120 and 7268
base row: [nan, nan, 'X', 6750]
index: 121 and 7268
base row: [nan, nan, 'RR', 6750]
index: 122 and 7268
base row: [nan, nan, 'GP', 4750]
index: 123 and 7268
base row: [nan, 'INTERIOR LOTS', 'RR', 5250]
index: 124 and 7268
base row: ['DE GRACIA ST.', nan, 'CR', 6750]
index: 125 and 7268
base row: [nan, nan, 'X', 7500]
index: 126 and 7268
base row: [nan, nan, 'RR', 5750]
index: 127 and 7268
base row: ['DOÃ‘A AURORA ST.', nan, 'CR', 6750]
index: 128 and 7268
base row: [nan, nan, 'X', 4750]
index: 129 and 7268
base row: [nan, nan, 'RR', 5750]
index: 130 and 7268
base row: ['ENRIQUEZ ST.', nan, 'CR', 8500]
index: 131 and 7268
base row: [nan, nan, 'RR', 6000]
index: 132 and 7268
base row: ['G. ORDA ST.', nan, 'CR', 8500]
index: 133 and 7268
base row: [nan, nan, 'RR', 6000]
index: 134 and 7268
base row: ['ISKONG BANTAY ST.', nan, 'CR', 8500]
index: 135 and 7268
base row: [nan, nan, 'RR', 6000]
index: 136 and 7268
base row: ['LEON GUINTO BLVD', nan, 'CR', 8250]
index: 137 and 7268
base row: [nan, nan, 'RR', 5750]
index: 138 and 7268
base row: [nan, 'INTERIOR LOTS', 'RR', 4500]
index: 139 and 7268
base row: ['MAGALLANES ST. (NOW LAURIO ST.)', nan, 'CR', 6750]
index: 140 and 7268
base row: [nan, nan, 'RR', 5500]
index: 141 and 7268
base row: ['MANALO ST.', nan, 'CR', 8250]
index: 142 and 7268
base row: [nan, nan, 'RR', 6000]
index: 143 and 7268
base row: [nan, 'INTERIOR LOTS', 'RR', 5500]
index: 144 and 7268
base row: ['QUEZON ST.', nan, 'CR', 11500]
index: 145 and 7268
base row: [nan, nan, 'RR', 9500]
index: 146 and 7268
base row: ['REYES ST. ', nan, 'CR', 8500]
index: 147 and 7268
base row: [nan, nan, 'RR', 6250]
index: 148 and 7268
base row: ['RIZAL ST.', nan, 'CR', 11500]
index: 149 and 7268
base row: [nan, nan, 'RR', 9500]
index: 150 and 7268
base row: [nan, nan, 'nan', nan]
index: 151 and 7268
base row: ['Province:', 'QUEZON', 'nan', nan]
index: 152 and 7268
base row: ['City/Municipality:', 'ATIMONAN', 'nan', nan]
index: 153 and 7268
base row: ['Zone/Barangay:', 'POBLACION(ZONE2)', 'D.O. No.', '037-2022']
index: 154 and 7268
base row: [nan, nan, 'Effectivity Date', datetime.datetime(2022, 7, 23, 0, 0)]
index: 155 and 7268
base row: ['STREET NAME / SUBDIVISION/ CONDOMINIUM', 'VICINITY', 'CLASS', '3rd Rev']
index: 156 and 7268
base row: ['MAHARLIKA HIGHWAY', nan, 'CR', 8250]
index: 157 and 7268
base row: [nan, nan, 'RR', 7000]
index: 158 and 7268
base row: [nan, nan, 'GP', 3750]
index: 159 and 7268
base row: [nan, nan, 'CL', 2750]
index: 160 and 7268
base row: [nan, nan, 'X', 5250]
index: 161 and 7268
base row: [nan, 'INTERIOR LOTS', 'RR', 5250]
index: 162 and 7268
base row: ['AGUINALDO ST.', nan, 'CR', 8250]
index: 163 and 7268
base row: [nan, nan, 'RR', 7000]
index: 164 and 7268
base row: [nan, nan, 'X', 5250]
index: 165 and 7268
base row: [nan, nan, 'GP', 3750]
index: 166 and 7268
base row: [nan, 'INTERIOR LOTS', 'RR', 5000]
index: 167 and 7268
base row: ['BALAGTAS ST.', nan, 'CR', 7000]
index: 168 and 7268
base row: [nan, nan, 'RR', 5750]
index: 169 and 7268
base row: [nan, nan, 'GP', 3750]
index: 170 and 7268
base row: ['DE GRACIA ST.', nan, 'CR', 7000]
index: 171 and 7268
base row: [nan, nan, 'X', 4750]
index: 172 and 7268
base row: [nan, nan, 'RR', 5750]
index: 173 and 7268
base row: [nan, nan, 'GP', 3750]
index: 174 and 7268
base row: ['DESEMBRANA ST.', nan, 'CR', 7000]
index: 175 and 7268
base row: [nan, nan, 'RR', 5750]
index: 176 and 7268
base row: ['G. ORDA ST.', nan, 'CR', 8750]
index: 177 and 7268
base row: [nan, nan, 'RR', 7250]
index: 178 and 7268
base row: [nan, nan, 'X', 5250]
index: 179 and 7268
base row: [nan, 'INTERIOR LOTS', 'RR', 6250]
index: 180 and 7268
base row: ['HUNTERS ROTC', 'COR. RIZAL ST.', 'CR', 7000]
index: 181 and 7268
base row: [nan, nan, 'RR', 5750]
index: 182 and 7268
base row: [nan, nan, 'GP', 3750]
index: 183 and 7268
base row: [nan, 'INTERIOR LOTS', 'RR', 4750]
index: 184 and 7268
base row: ['MABINI ST.', nan, 'CR', 7000]
index: 185 and 7268
base row: [nan, nan, 'X', 5250]
index: 186 and 7268
base row: [nan, nan, 'RR', 5750]
index: 187 and 7268
base row: [nan, nan, 'GP', 3750]
index: 188 and 7268
base row: [nan, 'INTERIOR LOTS', 'RR', 4750]
index: 189 and 7268
base row: ['MALVAR ST.', nan, 'CR', 7000]
index: 190 and 7268
base row: [nan, nan, 'RR', 5750]
index: 191 and 7268
base row: ['MANILA ST.', nan, 'CR', 8250]
index: 192 and 7268
base row: [nan, nan, 'X', 5250]
index: 193 and 7268
base row: [nan, nan, 'RR', 7000]
index: 194 and 7268
base row: [nan, nan, 'GP', 3750]
index: 195 and 7268
base row: ['OSMEÃ‘A ST.', nan, 'CR', 8750]
index: 196 and 7268
base row: [nan, nan, 'RR', 7750]
index: 197 and 7268
base row: [nan, 'INTERIOR LOTS', 'RR', 5750]
index: 198 and 7268
base row: ['QUEZON ST.', nan, 'CR', 11500]
index: 199 and 7268
base row: [nan, nan, 'RR', 9500]
index: 200 and 7268
base row: [nan, nan, 'X', 7000]
index: 201 and 7268
base row: ['R. MATANDA ST.', nan, 'CR', 7000]
index: 202 and 7268
base row: [nan, nan, 'RR', 5750]
index: 203 and 7268
base row: ['REYES ST. ', nan, 'CR', 8250]
index: 204 and 7268
base row: [nan, nan, 'RR', 7000]
index: 205 and 7268
base row: ['RIZAL ST.', nan, 'CR', 11500]
index: 206 and 7268
base row: [nan, nan, 'RR', 8750]
index: 207 and 7268
base row: ['RAMON SOLER ST', nan, 'CR', 8250]
index: 208 and 7268
base row: [nan, nan, 'RR', 7000]
index: 209 and 7268
base row: [nan, nan, 'X', 5250]
index: 210 and 7268
base row: [nan, nan, 'GP', 4250]
index: 211 and 7268
base row: [nan, 'INTERIOR LOTS', 'RR', 5750]
index: 212 and 7268
base row: ['VILLA JUANA SUBD. (ZONEII)', nan, 'RR', 5750]
index: 213 and 7268
base row: [nan, nan, 'nan', nan]
index: 214 and 7268
base row: ['Province:', 'QUEZON', 'nan', nan]
index: 215 and 7268
base row: ['City/Municipality:', 'ATIMONAN', 'nan', nan]
index: 216 and 7268
base row: ['Zone/Barangay:', 'POBLACION (ZONE 3)', 'D.O. No.', '037-2022']
index: 217 and 7268
base row: [nan, nan, 'Effectivity Date', datetime.datetime(2022, 7, 23, 0, 0)]
index: 218 and 7268
base row: ['STREET NAME / SUBDIVISION/ CONDOMINIUM', 'VICINITY', 'CLASS', '3rd Rev']
index: 219 and 7268
base row: ['V. AGUILAR ST.', nan, 'CR', 6750]
index: 220 and 7268
base row: [nan, nan, 'RR', 5750]
index: 221 and 7268
base row: ['BONIFACIO ST.', nan, 'CR', 7750]
index: 222 and 7268
base row: [nan, nan, 'RR', 6250]
index: 223 and 7268
base row: ['DESEMBRANA ST.', nan, 'CR', 8250]
index: 224 and 7268
base row: [nan, nan, 'RR', 6750]
index: 225 and 7268
base row: ['REGINO DIAZ ST.', nan, 'CR', 7750]
index: 226 and 7268
base row: [nan, nan, 'RR', 5750]
index: 227 and 7268
base row: ['GOV. CASTRO ST', nan, 'CR', 9250]
index: 228 and 7268
base row: [nan, 'COR. RIZAL ST.', 'RR', 7250]
index: 229 and 7268
base row: ['HUNTERS ROTC', nan, 'CR', 6750]
index: 230 and 7268
base row: [nan, nan, 'RR', 5750]
index: 231 and 7268
base row: [nan, nan, 'GP', 3750]
index: 232 and 7268
base row: ['JUEZ ANDRES ST.', nan, 'CR', 9250]
index: 233 and 7268
base row: [nan, nan, 'RR', 7250]
index: 234 and 7268
base row: [nan, 'INTERIOR LOTS', 'RR', 5250]
index: 235 and 7268
base row: ['MABINI ST.', nan, 'CR', 6750]
index: 236 and 7268
base row: [nan, nan, 'RR', 5750]
index: 237 and 7268
base row: ['OSMEÃ‘A ST.', nan, 'CR', 9250]
index: 238 and 7268
base row: [nan, nan, 'RR', 7750]
index: 239 and 7268
base row: [nan, 'INTERIOR LOTS', 'RR', 5750]
index: 240 and 7268
base row: ['QUEZON ST.', nan, 'CR', 11500]
index: 241 and 7268
base row: [nan, nan, 'RR', 9250]
index: 242 and 7268
base row: ['RIZAL ST.', nan, 'CR', 11500]
index: 243 and 7268
base row: [nan, nan, 'RR', 9250]
index: 244 and 7268
base row: ['RAMON SOLER ST.', nan, 'CR', 8250]
index: 245 and 7268
base row: [nan, nan, 'RR', 6750]
index: 246 and 7268
base row: ['VILLAMIEL ST.', nan, 'CR', 6750]
index: 247 and 7268
base row: [nan, nan, 'RR', 5750]
index: 248 and 7268
base row: ['ZAMORA ST.', nan, 'CR', 6750]
index: 249 and 7268
base row: [nan, nan, 'RR', 5750]
index: 250 and 7268
base row: [nan, nan, 'nan', nan]
index: 251 and 7268
base row: [nan, nan, 'nan', nan]
index: 252 and 7268
base row: ['Province:', 'QUEZON', 'nan', nan]
index: 253 and 7268
base row: ['City/Municipality:', 'ATIMONAN', 'nan', nan]
index: 254 and 7268
base row: ['Zone/Barangay:', 'POBLACION (ZONE 4)', 'D.O. No.', '037-2022']
index: 255 and 7268
base row: [nan, nan, 'Effectivity Date', datetime.datetime(2022, 7, 23, 0, 0)]
index: 256 and 7268
base row: ['STREET NAME / SUBDIVISION/ CONDOMINIUM', 'VICINITY', 'CLASS', '3rd Rev']
index: 257 and 7268
base row: ['AMADO ST.', nan, 'CR', 9250]
index: 258 and 7268
base row: [nan, 'PUBLIC MARKET', 'X', 7250]
index: 259 and 7268
base row: [nan, nan, 'RR', 7250]
index: 260 and 7268
base row: [nan, nan, 'GP', 5750]
index: 261 and 7268
base row: [nan, 'INTERIOR LOTS', 'RR', 5250]
index: 262 and 7268
base row: ['REGINO DIAZ ST.', nan, 'CR', 8250]
index: 263 and 7268
base row: [nan, nan, 'RR', 6750]
index: 264 and 7268
base row: ['F. DIESTRO ST.', nan, 'CR', 8250]
index: 265 and 7268
base row: [nan, nan, 'RR', 5750]
index: 266 and 7268
base row: [nan, 'INTERIOR LOTS', 'RR', 4250]
index: 267 and 7268
base row: ['P. ENRIQUEZ ST.', nan, 'CR', 11500]
index: 268 and 7268
base row: [nan, nan, 'RR', 9250]
index: 269 and 7268
base row: ['GOV. CASTRO ST', nan, 'CR', 11500]
index: 270 and 7268
base row: [nan, nan, 'RR', 9250]
index: 271 and 7268
base row: [nan, 'INTERIOR LOTS', 'RR', 7250]
index: 272 and 7268
base row: ['ISKONG BANTAY ST.', nan, 'CR', 11500]
index: 273 and 7268
base row: [nan, nan, 'RR', 9250]
index: 274 and 7268
base row: ['JUEZ ANDRES ST.', 'QUEZON ST. TO ISKONG BANTAY ST.', 'CR', 14000]
index: 275 and 7268
base row: [nan, nan, 'RR', 11500]
index: 276 and 7268
base row: [nan, 'ISKONG BANTAY TO BOULEVARD', 'CR', 11500]
index: 277 and 7268
base row: [nan, nan, 'RR', 8750]
index: 278 and 7268
base row: [nan, 'INTERIOR LOTS', 'RR', 6750]
index: 279 and 7268
base row: ['LEON GUINTO BLVD', nan, 'CR', 9250]
index: 280 and 7268
base row: [nan, nan, 'RR', 7750]
index: 281 and 7268
base row: [nan, nan, 'X', 5750]
index: 282 and 7268
base row: [nan, 'INTERIOR LOTS', 'RR', 5750]
index: 283 and 7268
base row: ['QUEZON ST.', nan, 'CR', 11500]
index: 284 and 7268
base row: [nan, nan, 'RR', 9250]
index: 285 and 7268
base row: [nan, 'INTERIOR LOTS', 'RR', 7750]
index: 286 and 7268
base row: ['RICAFORT ST.', nan, 'CR', 9250]
index: 287 and 7268
base row: [nan, nan, 'X', 7250]
index: 288 and 7268
base row: [nan, nan, 'RR', 7250]
index: 289 and 7268
base row: [nan, 'INTERIOR LOTS', 'RR', 5750]
index: 290 and 7268
base row: ['RIZAL ST.', nan, 'CR', 11500]
index: 291 and 7268
base row: [nan, nan, 'RR', 9250]
index: 292 and 7268
base row: ['ZAMORA ST.', nan, 'CR', 9250]
index: 293 and 7268
base row: [nan, nan, 'RR', 7250]
index: 294 and 7268
base row: [nan, 'INTERIOR LOTS', 'RR', 5250]
index: 295 and 7268
base row: [nan, nan, 'nan', nan]
index: 296 and 7268
base row: [nan, nan, 'nan', nan]
index: 297 and 7268
base row: ['Province:', 'QUEZON', 'nan', nan]
index: 298 and 7268
base row: ['City/Municipality:', 'ATIMONAN', 'nan', nan]
index: 299 and 7268
base row: ['Zone/Barangay:', 'CARIDAD IBABA', 'D.O. No.', '037-2022']
index: 300 and 7268
base row: [nan, nan, 'Effectivity Date', datetime.datetime(2022, 7, 23, 0, 0)]
index: 301 and 7268
base row: ['STREET NAME / SUBDIVISION/ CONDOMINIUM', 'VICINITY', 'CLASS', '3rd Rev']
index: 302 and 7268
base row: ['ALL LOTS', 'PROVINCIAL ROAD', 'CR', 4250]
index: 303 and 7268
base row: [nan, nan, 'RR', 2500]
index: 304 and 7268
base row: [nan, 'BARANGAY ROAD', 'RR', 2000]
index: 305 and 7268
base row: [nan, nan, 'I', 1700]
index: 306 and 7268
base row: [nan, nan, 'X', 1350]
index: 307 and 7268
base row: [nan, nan, 'A1', 225]
index: 308 and 7268
base row: [nan, nan, 'A2', 155]
index: 309 and 7268
base row: [nan, nan, 'A4', 115]
index: 310 and 7268
base row: [nan, nan, 'A5', 115]
index: 311 and 7268
base row: [nan, nan, 'A6', 140]
index: 312 and 7268
base row: [nan, nan, 'A7', 25]
index: 313 and 7268
base row: [nan, nan, 'A12', 225]
index: 314 and 7268
base row: [nan, nan, 'A31', 175]
index: 315 and 7268
base row: [nan, nan, 'A40', 1800]
index: 316 and 7268
base row: [nan, nan, 'A50', 25]
index: 317 and 7268
base row: [nan, 'INTERIOR LOTS', 'RR', 1500]
index: 318 and 7268
base row: [nan, nan, 'A1', 175]
index: 319 and 7268
base row: [nan, nan, 'A2', 120]
index: 320 and 7268
base row: [nan, nan, 'A4', 70]
index: 321 and 7268
base row: [nan, nan, 'A6', 100]
index: 322 and 7268
base row: [nan, nan, 'A7', 25]
index: 323 and 7268
base row: [nan, nan, 'A12', 135]
index: 324 and 7268
base row: ['** There were proposed value for interior lots ', nan, 'nan', nan]
index: 325 and 7268
base row: [nan, nan, 'nan', nan]
index: 326 and 7268
base row: ['Province:', 'QUEZON', 'nan', nan]
index: 327 and 7268
base row: ['City/Municipality:', 'ATIMONAN', 'nan', nan]
index: 328 and 7268
base row: ['Zone/Barangay:', 'CARIDAD ILAYA', 'nan', nan]
index: 329 and 7268
base row: [nan, nan, 'nan', nan]
index: 330 and 7268
base row: ['STREET NAME / SUBDIVISION/ CONDOMINIUM', 'VICINITY', 'CLASS', '3rd Rev']
index: 331 and 7268
base row: ['ALL LOTS', 'PROVINCIAL ROAD', 'CR', 4250]
index: 332 and 7268
base row: [nan, nan, 'RR', 2500]
index: 333 and 7268
base row: [nan, 'BARANGAY ROAD', 'RR', 2000]
index: 334 and 7268
base row: [nan, 'INTERIOR LOTS', 'RR', 1500]
index: 335 and 7268
base row: [nan, 'ALONG THE ROAD', 'I', 1700]
index: 336 and 7268
base row: [nan, nan, 'A1', 225]
index: 337 and 7268
base row: [nan, nan, 'A2', 155]
index: 338 and 7268
base row: [nan, nan, 'A4', 115]
index: 339 and 7268
base row: [nan, nan, 'A5', 115]
index: 340 and 7268
base row: [nan, nan, 'A6', 140]
index: 341 and 7268
base row: [nan, nan, 'A7', 25]
index: 342 and 7268
base row: [nan, nan, 'A12', 225]
index: 343 and 7268
base row: [nan, nan, 'A31', 135]
index: 344 and 7268
base row: [nan, nan, 'A50', 22.5]
index: 345 and 7268
base row: [nan, nan, 'nan', nan]
index: 346 and 7268
base row: ['Province:', 'QUEZON', 'nan', nan]
index: 347 and 7268
base row: ['City/Municipality:', 'ATIMONAN', 'nan', nan]
index: 348 and 7268
base row: ['Zone/Barangay:', 'LAKIP', 'D.O. No.', '037-2022']
index: 349 and 7268
base row: [nan, nan, 'Effectivity Date', datetime.datetime(2022, 7, 23, 0, 0)]
index: 350 and 7268
base row: ['STREET NAME / SUBDIVISION/ CONDOMINIUM', 'VICINITY', 'CLASS', '3rd Rev']
index: 351 and 7268
base row: ['ALL LOTS', 'ALONG PROVINCIAL ROAD', 'CR', 4000]
index: 352 and 7268
base row: [nan, nan, 'RR', 2500]
index: 353 and 7268
base row: [nan, 'ALONG BARANGAY ROAD', 'RR', 2000]
index: 354 and 7268
base row: [nan, nan, 'A1', 225]
index: 355 and 7268
base row: [nan, nan, 'A2', 155]
index: 356 and 7268
base row: [nan, nan, 'A4', 115]
index: 357 and 7268
base row: [nan, nan, 'A5', 115]
index: 358 and 7268
base row: [nan, nan, 'A6', 140]
index: 359 and 7268
base row: [nan, nan, 'A7', 25]
index: 360 and 7268
base row: [nan, nan, 'A12', 225]
index: 361 and 7268
base row: [nan, nan, 'A31', 175]
index: 362 and 7268
base row: [nan, nan, 'A50', 27.5]
index: 363 and 7268
base row: [nan, 'INTERIOR LOTS', 'RR', 1500]
index: 364 and 7268
base row: [nan, nan, 'A1', 170]
index: 365 and 7268
base row: [nan, nan, 'A2', 115]
index: 366 and 7268
base row: [nan, nan, 'A4', 72.5]
index: 367 and 7268
base row: [nan, nan, 'A6', 110]
index: 368 and 7268
base row: [nan, nan, 'A7', 25]
index: 369 and 7268
base row: [nan, nan, 'A12', 135]
index: 370 and 7268
base row: ['** A50 has equal value in identified AL ( A7 swamp definitely has lower value in A50 )', nan, 'nan', nan]
index: 371 and 7268
base row: [nan, nan, 'nan', nan]
index: 372 and 7268
base row: [nan, nan, 'nan', nan]
index: 373 and 7268
base row: ['Province:', 'QUEZON', 'nan', nan]
index: 374 and 7268
base row: ['City/Municipality:', 'ATIMONAN', 'nan', nan]
index: 375 and 7268
base row: ['Zone/Barangay:', 'MALUSAK', 'nan', nan]
index: 376 and 7268
base row: [nan, nan, 'nan', nan]
index: 377 and 7268
base row: ['STREET NAME / SUBDIVISION/ CONDOMINIUM', 'VICINITY', 'CLASS', '3rd Rev']
index: 378 and 7268
base row: ['ALL LOTS', 'ALONG PROVINCIAL ROAD', 'CR', 4000]
index: 379 and 7268
base row: [nan, nan, 'RR', 2500]
index: 380 and 7268
base row: [nan, 'ALONG BARANGAY ROAD', 'RR', 2000]
index: 381 and 7268
base row: [nan, nan, 'A1', 205]
index: 382 and 7268
base row: [nan, nan, 'A2', 150]
index: 383 and 7268
base row: [nan, nan, 'A4', 115]
index: 384 and 7268
base row: [nan, nan, 'A5', 115]
index: 385 and 7268
base row: [nan, nan, 'A6', 140]
index: 386 and 7268
base row: [nan, nan, 'A7', 27.5]
index: 387 and 7268
base row: [nan, nan, 'A12', 215]
index: 388 and 7268
base row: [nan, nan, 'A15', 128]
index: 389 and 7268
base row: [nan, nan, 'A50', 27.5]
index: 390 and 7268
base row: [nan, 'INTERIOR LOTS', 'RR', 1500]
index: 391 and 7268
base row: [nan, nan, 'A1', 170]
index: 392 and 7268
base row: [nan, nan, 'A2', 115]
index: 393 and 7268
base row: [nan, nan, 'A4', 72.5]
index: 394 and 7268
base row: [nan, nan, 'A6', 110]
index: 395 and 7268
base row: [nan, nan, 'A7', 25]
index: 396 and 7268
base row: [nan, nan, 'A12', 135]
index: 397 and 7268
base row: [nan, nan, 'nan', nan]
index: 398 and 7268
base row: [nan, nan, 'nan', nan]
index: 399 and 7268
base row: ['Province:', 'QUEZON', 'nan', nan]
index: 400 and 7268
base row: ['City/Municipality:', 'ATIMONAN', 'nan', nan]
index: 401 and 7268
base row: ['Zone/Barangay:', 'PONON', 'D.O. No.', '037-2022']
index: 402 and 7268
base row: [nan, nan, 'Effectivity Date', datetime.datetime(2022, 7, 23, 0, 0)]
index: 403 and 7268
base row: ['STREET NAME / SUBDIVISION/ CONDOMINIUM', 'VICINITY', 'CLASS', '3rd Rev']
index: 404 and 7268
base row: ['ALL LOTS', 'ALONG PROVINCIAL ROAD', 'CR', 4000]
index: 405 and 7268
base row: [nan, nan, 'RR', 2500]
index: 406 and 7268
base row: [nan, 'ALONG BARANGAY ROAD', 'RR', 2000]
index: 407 and 7268
base row: [nan, nan, 'A1', 205]
index: 408 and 7268
base row: [nan, nan, 'A2', 150]
index: 409 and 7268
base row: [nan, nan, 'A4', 115]
index: 410 and 7268
base row: [nan, nan, 'A5', 115]
index: 411 and 7268
base row: [nan, nan, 'A6', 140]
index: 412 and 7268
base row: [nan, nan, 'A7', 27.5]
index: 413 and 7268
base row: [nan, nan, 'A12', 215]
index: 414 and 7268
base row: [nan, nan, 'A15', 128]
index: 415 and 7268
base row: [nan, nan, 'A50', 27.5]
index: 416 and 7268
base row: [nan, 'INTERIOR LOTS', 'RR', 1500]
index: 417 and 7268
base row: [nan, nan, 'A1', 170]
index: 418 and 7268
base row: [nan, nan, 'A2', 115]
index: 419 and 7268
base row: [nan, nan, 'A4', 72.5]
index: 420 and 7268

IndexError: single positional indexer is out-of-bounds

In [ ]:
output_files = [f for f in os.listdir("Output")]
for output_file in output_files:
    file = pd.read_excel(f'Output/{output_file}')
    if len(file) < 2:
        print(output_file[:-5])

In [18]:
excel_files[22:23]

['RDO No. 61 - Gumaca, South Quezon.xls']

In [168]:
import pandas as pd
import re

def clean_value(value):
    if value is not None:
        value = str(value)
        value = re.sub(r"^\s*:\s*", "", value.strip())
        # value = re.sub(r"(D.*O.* No|Effectivity Date|--continued)\s*.*", "", value, flags=re.IGNORECASE).strip()
        value = re.sub(r"(D(?:\.O|O)(?:\.) No|Effectivity Date)\s*.*", "", value, flags=re.IGNORECASE).strip()
        return value
    return value

def test_function():
    """Placeholder function for debugging or logging purposes."""
    pass

def extract_value(pattern, text):
    """
    Searches for the given pattern in the text and returns the matched group.
    """
    match = re.search(pattern, text, re.IGNORECASE)
    if match:
        return match.group(1).strip()
    else:
        return None

def find_column_headers(df, index):
    """
    Searches for the column headers in the DataFrame starting from the given index.
    Returns a tuple (found, header_indices, new_index) where:
    - found: True if headers are found
    - header_indices: dictionary mapping header names to column indices
    - new_index: the index after the headers
    """
    headers = {
        'street_name_index': None,
        'vicinity_index': None,
        'classification_index': None,
        'zv_sq_m_index': None
    }
    
    # Search within the next 3 rows for headers
    for offset in range(3):
        current_index = index + offset
        if current_index >= len(df):
            break
        row = df.iloc[current_index]
        
        for col_index, cell in enumerate(row):
            cell_value = str(cell)
            
            if headers['street_name_index'] is None and re.search(r"(STREET NAME|SUBDIVISION|CONDOMINIUM)", cell_value, re.IGNORECASE):
                headers['street_name_index'] = col_index
            
            if headers['vicinity_index'] is None and re.search(r"V.*I.*C.*I.*N.*I.*T.*Y", cell_value, re.IGNORECASE):
                headers['vicinity_index'] = col_index
            
            if headers['classification_index'] is None and re.search(r"CLASS(?:IFICATION)?|C.*L.*A.*S.*S.*I.*F.*I.*C.*A.*T.*I.*O.*N", cell_value, re.IGNORECASE | re.DOTALL):
                headers['classification_index'] = col_index
            
            if headers['zv_sq_m_index'] is None and re.search(r"ZV.*SQ.*M|3rd\s*Rev", cell_value, re.IGNORECASE): 
                headers['zv_sq_m_index'] = col_index
        
        if all(value is not None for value in headers.values()):
            print(f"Headers found at index {current_index}")
            print(f"Header indices: {headers}")
            return True, headers, current_index + 1
    
    return False, None, index

def is_header_row(row):
    """
    Checks if the given row contains the headers.
    Returns True if it does, False otherwise.
    """
    header_patterns = [
        r"(STREET NAME|SUBDIVISION|CONDOMINIUM)",
        r"V.*I.*C.*I.*N.*I.*T.*Y",
        r"CLASS(?:IFICATION)?|C.*L.*A.*S.*S.*I.*F.*I.*C.*A.*T.*I.*O.*N",
        r"ZV.*SQ.*M|3rd\s*Rev"
    ]
    
    found = {pattern: False for pattern in header_patterns}
    
    for cell in row:
        cell_value = str(cell)
        for pattern in header_patterns:
            if re.search(pattern, cell_value, re.IGNORECASE):
                found[pattern] = True
    
    return all(found.values())

def main(df):
    """
    Processes the DataFrame to extract structured data based on Province, City/Municipality,
    Barangay/Zone, and additional information like Street/Subdivision, Vicinity, Classification,
    and ZV/SQM.
    
    This version performs separate checks for each geographic component without nested conditionals,
    allowing them to appear in any order within a specified proximity.
    """
    index = 0
    count = 0
    new_df = pd.DataFrame(columns=['Province', 'City/Municipality', 'Barangay', 
                                   'Street/Subdivision', 'Vicinity', 'Classification', 'ZV/SQM'])
    
    # Define the proximity window (number of rows within which to search for related fields)
    PROXIMITY_WINDOW = 5
    
    while index < len(df):
        row = df.iloc[index]
        combined_row = ''.join(map(str, row.dropna())).strip()
        
        # Initialize variables to store current location information
        current_province = None
        current_city = None
        current_barangay = None
        
        # Flags to check if the location components have been found within the proximity window
        found_province = False
        found_city = False
        found_barangay = False
        
        print(f"=================\nROW INDEX: {index}\n=================")
        # Search within the proximity window for Province, City/Municipality, and Barangay/Zone
        for offset in range(PROXIMITY_WINDOW):
            current_index = index + offset
            if current_index >= len(df):
                break
            current_row = df.iloc[current_index]
            combined_current_row = ''.join(map(str, current_row.dropna())).strip()
            
            # Check for Province
            if not found_province:
                province = extract_value(r"province\s*[:\s]?\s*(.*)", combined_current_row)
                if province:
                    current_province = clean_value(province)
                    found_province = True
                    print(f"Province match found in row {current_index}: {current_province}")
                    
            # Check for City/Municipality
            if not found_city:
                city = extract_value(r"(?:City|Municipality)(?:\s*/\s*(?:City|Municipality))?\s*[:\s]?\s*(.+)", combined_current_row)
                if city:
                    current_city = clean_value(city)
                    found_city = True
                    print(f"City/Municipality match found in row {current_index}: {current_city}")
            
            # Check for Barangay/Zone
            if not found_barangay:
                barangay = extract_value(r"(?:Barangay|Zone)(?:\s*/\s*(?:Barangay|Zone))?\s*[:\s]?\s*(.+)", combined_current_row)
                if barangay:
                    current_barangay = clean_value(barangay)
                    found_barangay = True
                    print(f"Barangay/Zone match found in row {current_index}: {current_barangay}")

            # print(f"\nOffset: {offset}")
            # print(f"province: {current_province}, city: {current_city}, barangay: {current_barangay}\n")
            
            # If all three components are found, break out of the proximity search
            if found_province and found_city and found_barangay:
                break
        
        # Check if all location components were found
        if found_province and found_city and found_barangay:
            # print("HELLLLO")

            # Update the main index to the last matched row in the proximity window
            last_matched_index = index + offset
            print(df.iloc[last_matched_index])
            index = last_matched_index + 1  # Move past the last matched row
            print(df.iloc[index])
            
            # Now, find the column headers starting from the current index
            found_headers, header_indices, new_index = find_column_headers(df, index)
            # print(f'found headers: {found_headers}\nheaders index: {header_indices}\nnew_index: {new_index}')
            
            if found_headers:
                index = new_index  # Move index to after headers
                
                # Start reading data rows
                count += 1
                print(f'Processing table {count}\n')
                
                age = 0
                MAX_AGE = 3
                
                col1_holder = None
                vicinity_holder = None
                while index < len(df) and age < MAX_AGE:
                    row = df.iloc[index]
                    
                    # Check if the current row is a header row, indicating a new table
                    if is_header_row(row):
                        print(f"Header row detected at index {index}. Ending current table.")
                        break  # Exit the data row processing loop to handle the new table
                    
                    # Extract data using the header indices
                    col1 = row.iloc[header_indices['street_name_index']]
                    vicinity = row.iloc[header_indices['vicinity_index']]
                    classification = row.iloc[header_indices['classification_index']]
                    zv = row.iloc[header_indices['zv_sq_m_index']]
                    print(f"Data row at index {index}: {[col1, vicinity, classification, zv]}")
                    
                    # Check if both classification and ZV/SQM are empty
                    if (pd.isnull(classification) or str(classification).strip() == '') and \
                       (pd.isnull(zv) or str(zv).strip() == ''):
                        index += 1
                        continue  # Skip this row as it doesn't contain valid data
                    
                    # Handle missing values by carrying forward the last known values
                    if pd.isnull(col1) or str(col1).strip() == '':
                        col1 = col1_holder
                    else:
                        col1_holder = col1
                        
                    if pd.isnull(vicinity) or str(vicinity).strip() == '':
                        vicinity = vicinity_holder
                    else:
                        vicinity_holder = vicinity
                    
                    # Append the extracted data to new_df
                    new_df.loc[len(new_df)] = [
                        current_province, 
                        current_city, 
                        current_barangay, 
                        clean_value(col1), 
                        clean_value(vicinity), 
                        clean_value(classification), 
                        clean_value(zv)
                    ]
                    
                    index += 1  # Move to the next row
                
                # After processing data rows, continue to the next iteration to find new tables
                continue
        
        # If not all location components were found, move to the next row
        index += 1
    
    print(f"Total tables processed: {count}")
    return new_df

In [169]:
import pandas as pd
import re

def clean_value(value):
    if value is not None:
        value = str(value)
        value = re.sub(r"^\s*:\s*", "", value.strip())
        # value = re.sub(r"(D.*O.* No|Effectivity Date|--continued)\s*.*", "", value, flags=re.IGNORECASE).strip()
        value = re.sub(r"(D(?:\.O|O)(?:\.) No|Effectivity Date)\s*.*", "", value, flags=re.IGNORECASE).strip()
        return value
    return value

def test_function():
    pass

def extract_value(pattern, text):
    match = re.search(pattern, text, re.IGNORECASE)
    if match:
        return match.group(1).strip()
    else:
        return None

def find_column_headers(df, index, proximity_window=6):
    headers = {
        'street_name_index': None,
        'vicinity_index': None,
        'classification_index': None,
        'zv_sq_m_index': None
    }
    
    for offset in range(proximity_window-3, proximity_window):
        current_index = index + offset
        if current_index >= len(df):
            break
        row = df.iloc[current_index]
        
        for col_index, cell in enumerate(row):
            cell_value = str(cell)
            
            if headers['street_name_index'] is None and re.search(r"(STREET NAME|SUBDIVISION|CONDOMINIUM)", cell_value, re.IGNORECASE):
                headers['street_name_index'] = col_index
            
            if headers['vicinity_index'] is None and re.search(r"V.*I.*C.*I.*N.*I.*T.*Y", cell_value, re.IGNORECASE):
                headers['vicinity_index'] = col_index
            
            if headers['classification_index'] is None and re.search(r"CLASS(?:IFICATION)?|C.*L.*A.*S.*S.*I.*F.*I.*C.*A.*T.*I.*O.*N", cell_value, re.IGNORECASE | re.DOTALL):
                headers['classification_index'] = col_index
            
            if headers['zv_sq_m_index'] is None and re.search(r"ZV.*SQ.*M|3rd\s*Rev", cell_value, re.IGNORECASE): 
                headers['zv_sq_m_index'] = col_index
        
        if all(value is not None for value in headers.values()):
            print(f"Headers found at index {current_index}")
            print(f"Header indices: {headers}")
            return True, headers, current_index + 1
    
    return False, None, index

def is_header_row(row):
    header_patterns = [
        r"(STREET NAME|SUBDIVISION|CONDOMINIUM)",
        r"V.*I.*C.*I.*N.*I.*T.*Y",
        r"CLASS(?:IFICATION)?|C.*L.*A.*S.*S.*I.*F.*I.*C.*A.*T.*I.*O.*N",
        r"ZV.*SQ.*M|3rd\s*Rev"
    ]
    
    found = {pattern: False for pattern in header_patterns}
    
    for cell in row:
        cell_value = str(cell)
        for pattern in header_patterns:
            if re.search(pattern, cell_value, re.IGNORECASE):
                found[pattern] = True
    
    return all(found.values())

def find_location_components(df, index, proximity_window=3):
    """
    Searches within the proximity window for Province, City/Municipality, and Barangay/Zone.
    
    Returns:
        A tuple containing:
        - current_province (str or None)
        - current_city (str or None)
        - current_barangay (str or None)
        - last_matched_index (int): The index of the last matched component
    """
    current_province = None
    current_city = None
    current_barangay = None
    
    found_province = False
    found_city = False
    found_barangay = False
    
    last_matched_index = index
    
    for offset in range(proximity_window):
        current_index = index + offset
        if current_index >= len(df):
            break
        current_row = df.iloc[current_index]
        combined_current_row = ''.join(map(str, current_row.dropna())).strip()
        
        # Check for Province
        if not found_province:
            province = extract_value(r"province\s*[:\s]?\s*(.*)", combined_current_row)
            if province:
                current_province = clean_value(province)
                found_province = True
                last_matched_index = current_index
                print(f"Province match found in row {current_index}: {current_province}")
                
        # Check for City/Municipality
        if not found_city:
            city = extract_value(r"(?:City|Municipality)(?:\s*/\s*(?:City|Municipality))?\s*[:\s]?\s*(.+)", combined_current_row)
            if city:
                current_city = clean_value(city)
                found_city = True
                last_matched_index = current_index
                print(f"City/Municipality match found in row {current_index}: {current_city}")
        
        # Check for Barangay/Zone
        if not found_barangay:
            barangay = extract_value(r"(?:Barangay|Zone)(?:\s*/\s*(?:Barangay|Zone))?\s*[:\s]?\s*(.+)", combined_current_row)
            if barangay:
                current_barangay = clean_value(barangay)
                found_barangay = True
                last_matched_index = current_index
                print(f"Barangay/Zone match found in row {current_index}: {current_barangay}")

        # If all three components are found, no need to continue searching
        if found_province and found_city and found_barangay:
            break
    
    return current_province, current_city, current_barangay, last_matched_index

def main(df):
    """
    Processes the DataFrame to extract structured data based on Province, City/Municipality,
    Barangay/Zone, and additional information like Street/Subdivision, Vicinity, Classification,
    and ZV/SQM.
    
    This version handles the case where location components and headers may appear while reading a table,
    indicating the start of a new table. If both are found, it ends the current table, updates the location
    components, and starts reading the new table.
    """
    index = 0
    count = 0
    new_df = pd.DataFrame(columns=['Province', 'City/Municipality', 'Barangay', 
                                   'Street/Subdivision', 'Vicinity', 'Classification', 'ZV/SQM'])
    
    PROXIMITY_WINDOW = 3
    
    current_province = None
    current_city = None
    current_barangay = None
    header_indices = None
    
    while index < len(df):
        # Check if location components and headers can be found starting from current index
        current_province_new, current_city_new, current_barangay_new, last_matched_index = find_location_components(df, index)
        found_headers, header_indices_new, new_index = find_column_headers(df, index)
        
        if (current_province_new and current_city_new and current_barangay_new) and found_headers:
            # Update location components
            current_province = current_province_new if current_province_new else current_province
            current_city = current_city_new if current_city_new else current_city
            current_barangay = current_barangay_new if current_barangay_new else current_barangay
            
            # Update headers
            header_indices = header_indices_new
            index = new_index  # Move index to after headers
            
            # Start processing data rows
            count += 1
            print(f'Processing table {count}\n')
            
            age = 0
            MAX_AGE = 3
            col1_holder = None
            vicinity_holder = None
            
            while index < len(df) and age < MAX_AGE:
                row = df.iloc[index]
                
                # Check if new location components and headers are found in the current row
                current_province_new_in_row, current_city_new_in_row, current_barangay_new_in_row, _ = find_location_components(df, index)
                found_headers_in_row, header_indices_in_row, new_index_in_row = find_column_headers(df, index)
                
                print(f"Row: {row}\n")
                # if (current_province_new_in_row or current_city_new_in_row or current_barangay_new_in_row) and found_headers_in_row:
                if (current_province_new_in_row and current_city_new_in_row and current_barangay_new_in_row) and found_headers_in_row:
                    # End current table processing
                    print(f"New location and headers found at index {index}. Ending current table and starting new table.")
                    print(f"current_province: {current_province_new_in_row}, current_city: {current_city_new_in_row}, current_barangay: {current_barangay_new_in_row}")
                    # Update location components
                    current_province = current_province_new_in_row if current_province_new_in_row else current_province
                    current_city = current_city_new_in_row if current_city_new_in_row else current_city
                    current_barangay = current_barangay_new_in_row if current_barangay_new_in_row else current_barangay
                    
                    # Update headers
                    header_indices = header_indices_in_row
                    index = new_index_in_row  # Move index to after headers
                    
                    # Reset variables
                    age = 0
                    col1_holder = None
                    vicinity_holder = None
                    count += 1  # Increment table count
                    print(f'Processing table {count}\n')
                    continue  # Start processing new table from updated index
                
                # Continue processing current table
                
                # Check if the current row is a header row, indicating a new table
                if is_header_row(row):
                    print(f"Header row detected at index {index}. Ending current table.")
                    index += 1
                    break  # Exit the data row processing loop to handle the new table
                
                # Extract data using the header indices
                col1 = row.iloc[header_indices['street_name_index']]
                vicinity = row.iloc[header_indices['vicinity_index']]
                classification = row.iloc[header_indices['classification_index']]
                zv = row.iloc[header_indices['zv_sq_m_index']]
                print(f"Data row at index {index}: {[col1, vicinity, classification, zv]}")
                
                # Check if both classification and ZV/SQM are empty
                if (pd.isnull(classification) or str(classification).strip() == '') and \
                   (pd.isnull(zv) or str(zv).strip() == ''):
                    index += 1
                    age += 1
                    continue  # Skip this row as it doesn't contain valid data
                
                # Handle missing values by carrying forward the last known values
                if pd.isnull(col1) or str(col1).strip() == '':
                    col1 = col1_holder
                else:
                    col1_holder = col1
                    
                if pd.isnull(vicinity) or str(vicinity).strip() == '':
                    vicinity = vicinity_holder
                else:
                    vicinity_holder = vicinity
                
                # Append the extracted data to new_df
                new_df.loc[len(new_df)] = [
                    current_province, 
                    current_city, 
                    current_barangay, 
                    clean_value(col1), 
                    clean_value(vicinity), 
                    clean_value(classification), 
                    clean_value(zv)
                ]
                
                index += 1  # Move to the next row
                age = 0  # Reset age since valid data was found
            continue  # After processing data rows, continue to the next iteration to find new tables
        
        else:
            index += 1  # Move to next row if no new location components and headers are found
    print(f"Total tables processed: {count}")
    return new_df

In [170]:
for excel in excel_files[22:23]:
    df = xls_to_df(excel)
    processed = main(df)
    processed.to_excel(f"Output/{excel}.xlsx")

Barangay/Zone match found in row 17: s or areas and shall determine the fair market value of real properties located in each zone or
Barangay/Zone match found in row 17: s or areas and shall determine the fair market value of real properties located in each zone or
Barangay/Zone match found in row 17: s or areas and shall determine the fair market value of real properties located in each zone or
City/Municipality match found in row 28: assessor and (2) the gross selling price/consideration as shown in the
City/Municipality match found in row 28: assessor and (2) the gross selling price/consideration as shown in the
City/Municipality match found in row 28: assessor and (2) the gross selling price/consideration as shown in the
Barangay/Zone match found in row 91: sA45  Kangkong
Barangay/Zone match found in row 91: sA45  Kangkong
Barangay/Zone match found in row 91: sA45  Kangkong
Province match found in row 102: QUEZON
Province match found in row 102: QUEZON
City/Municipality match found in row 103: ATIMONAN
Headers found at index 106
Header indices: {'street_name_index': 0, 'vicinity_index': 1, 'classification_index': 2, 'zv_sq_m_index': 3}
Province match found in row 102: QUEZON
City/Municipality match found in row 103: ATIMONAN
Barangay/Zone match found in row 104: POBLACION (ZONE 1)
Headers found at index 106
Header indices: {'street_name_index': 0, 'vicinity_index': 1, 'classification_index': 2, 'zv_sq_m_index': 3}
Processing table 1

Row: 0    MAHARLIKA HIGHWAY
1                  NaN
2                   CR
3                 7800
Name: 107, dtype: object

Data row at index 107: ['MAHARLIKA HIGHWAY', nan, 'CR', 7800]
Row: 0     NaN
1     NaN
2      RR
3    6750
Name: 108, dtype: object

Data row at index 108: [nan, nan, 'RR', 6750]
Row: 0     NaN
1     NaN
2      GP
3    4000
Name: 109, dtype: object

Data row at index 109: [nan, nan, 'GP', 4000]
Row: 0     NaN
1     NaN
2      CL
3    3000
Name: 110, dtype: object

Data row at index 110: [nan, nan, 'CL', 3000]
Row: 0                 NaN
1    MENDOZA COMPOUND
2                  RR
3                6000
Name: 111, dtype: object

Data row at index 111: [nan, 'MENDOZA COMPOUND', 'RR', 6000]
Row: 0    AGUINALDO ST.
1              NaN
2               CR
3             8250
Name: 112, dtype: object

Data row at index 112: ['AGUINALDO ST.', nan, 'CR', 8250]
Row: 0     NaN
1     NaN
2      RR
3    6750
Name: 113, dtype: object

Data row at index 113: [nan, nan, 'RR', 6750]
Row: 0              NaN
1    INTERIOR LOTS
2               RR
3             5250
Name: 114, dtype: object

Data row at index 114: [nan, 'INTERIOR LOTS', 'RR', 5250]
Row: 0    ANGELES ST.
1            NaN
2             CR
3           7750
Name: 115, dtype: object

Data row at index 115: ['ANGELES ST.', nan, 'CR', 7750]
Row: 0     NaN
1     NaN
2      RR
3    6750
Name: 116, dtype: object

Data row at index 116: [nan, nan, 'RR', 6750]
Row: 0    BALAGTAS ST.
1             NaN
2              CR
3            7250
Name: 117, dtype: object

Data row at index 117: ['BALAGTAS ST.', nan, 'CR', 7250]
Row: 0     NaN
1     NaN
2      RR
3    6500
Name: 118, dtype: object

Data row at index 118: [nan, nan, 'RR', 6500]
Row: 0         CERRUDO ST.
1    Emil-Joana Hosp.
2                  CR
3               11500
Name: 119, dtype: object

Data row at index 119: ['CERRUDO ST.', 'Emil-Joana Hosp.', 'CR', 11500]
Row: 0     NaN
1     NaN
2       X
3    6750
Name: 120, dtype: object

Data row at index 120: [nan, nan, 'X', 6750]
Row: 0     NaN
1     NaN
2      RR
3    6750
Name: 121, dtype: object

Data row at index 121: [nan, nan, 'RR', 6750]
Row: 0     NaN
1     NaN
2      GP
3    4750
Name: 122, dtype: object

Data row at index 122: [nan, nan, 'GP', 4750]
Row: 0              NaN
1    INTERIOR LOTS
2               RR
3             5250
Name: 123, dtype: object

Data row at index 123: [nan, 'INTERIOR LOTS', 'RR', 5250]
Row: 0    DE GRACIA ST.
1              NaN
2               CR
3             6750
Name: 124, dtype: object

Data row at index 124: ['DE GRACIA ST.', nan, 'CR', 6750]
Row: 0     NaN
1     NaN
2       X
3    7500
Name: 125, dtype: object

Data row at index 125: [nan, nan, 'X', 7500]
Row: 0     NaN
1     NaN
2      RR
3    5750
Name: 126, dtype: object

Data row at index 126: [nan, nan, 'RR', 5750]
Row: 0    DOÃ‘A AURORA ST.
1                NaN
2                 CR
3               6750
Name: 127, dtype: object

Data row at index 127: ['DOÃ‘A AURORA ST.', nan, 'CR', 6750]
Row: 0     NaN
1     NaN
2       X
3    4750
Name: 128, dtype: object

Data row at index 128: [nan, nan, 'X', 4750]
Row: 0     NaN
1     NaN
2      RR
3    5750
Name: 129, dtype: object

Data row at index 129: [nan, nan, 'RR', 5750]
Row: 0    ENRIQUEZ ST.
1             NaN
2              CR
3            8500
Name: 130, dtype: object

Data row at index 130: ['ENRIQUEZ ST.', nan, 'CR', 8500]
Row: 0     NaN
1     NaN
2      RR
3    6000
Name: 131, dtype: object

Data row at index 131: [nan, nan, 'RR', 6000]
Row: 0    G. ORDA ST.
1            NaN
2             CR
3           8500
Name: 132, dtype: object

Data row at index 132: ['G. ORDA ST.', nan, 'CR', 8500]
Row: 0     NaN
1     NaN
2      RR
3    6000
Name: 133, dtype: object

Data row at index 133: [nan, nan, 'RR', 6000]
Row: 0    ISKONG BANTAY ST.
1                  NaN
2                   CR
3                 8500
Name: 134, dtype: object

Data row at index 134: ['ISKONG BANTAY ST.', nan, 'CR', 8500]
Row: 0     NaN
1     NaN
2      RR
3    6000
Name: 135, dtype: object

Data row at index 135: [nan, nan, 'RR', 6000]
Row: 0    LEON GUINTO BLVD
1                 NaN
2                  CR
3                8250
Name: 136, dtype: object

Data row at index 136: ['LEON GUINTO BLVD', nan, 'CR', 8250]
Row: 0     NaN
1     NaN
2      RR
3    5750
Name: 137, dtype: object

Data row at index 137: [nan, nan, 'RR', 5750]
Row: 0              NaN
1    INTERIOR LOTS
2               RR
3             4500
Name: 138, dtype: object

Data row at index 138: [nan, 'INTERIOR LOTS', 'RR', 4500]
Row: 0    MAGALLANES ST. (NOW LAURIO ST.)
1                                NaN
2                                 CR
3                               6750
Name: 139, dtype: object

Data row at index 139: ['MAGALLANES ST. (NOW LAURIO ST.)', nan, 'CR', 6750]
Row: 0     NaN
1     NaN
2      RR
3    5500
Name: 140, dtype: object

Data row at index 140: [nan, nan, 'RR', 5500]
Row: 0    MANALO ST.
1           NaN
2            CR
3          8250
Name: 141, dtype: object

Data row at index 141: ['MANALO ST.', nan, 'CR', 8250]
Row: 0     NaN
1     NaN
2      RR
3    6000
Name: 142, dtype: object

Data row at index 142: [nan, nan, 'RR', 6000]
Row: 0              NaN
1    INTERIOR LOTS
2               RR
3             5500
Name: 143, dtype: object

Data row at index 143: [nan, 'INTERIOR LOTS', 'RR', 5500]
Row: 0    QUEZON ST.
1           NaN
2            CR
3         11500
Name: 144, dtype: object

Data row at index 144: ['QUEZON ST.', nan, 'CR', 11500]
Row: 0     NaN
1     NaN
2      RR
3    9500
Name: 145, dtype: object

Data row at index 145: [nan, nan, 'RR', 9500]
Row: 0    REYES ST.
1           NaN
2            CR
3          8500
Name: 146, dtype: object

Data row at index 146: ['REYES ST. ', nan, 'CR', 8500]
Row: 0     NaN
1     NaN
2      RR
3    6250
Name: 147, dtype: object

Data row at index 147: [nan, nan, 'RR', 6250]
Row: 0    RIZAL ST.
1          NaN
2           CR
3        11500
Name: 148, dtype: object

Data row at index 148: ['RIZAL ST.', nan, 'CR', 11500]
Province match found in row 151: QUEZON
Row: 0     NaN
1     NaN
2      RR
3    9500
Name: 149, dtype: object

Data row at index 149: [nan, nan, 'RR', 9500]
Province match found in row 151: QUEZON
City/Municipality match found in row 152: ATIMONAN
Headers found at index 155
Header indices: {'street_name_index': 0, 'vicinity_index': 1, 'classification_index': 2, 'zv_sq_m_index': 3}
Row: 0    NaN
1    NaN
2    NaN
3    NaN
Name: 150, dtype: object

Data row at index 150: [nan, nan, nan, nan]
Province match found in row 151: QUEZON
City/Municipality match found in row 152: ATIMONAN
Barangay/Zone match found in row 153: POBLACION(ZONE2)
Headers found at index 155
Header indices: {'street_name_index': 0, 'vicinity_index': 1, 'classification_index': 2, 'zv_sq_m_index': 3}
Row: 0    Province:
1       QUEZON
2          NaN
3          NaN
Name: 151, dtype: object

New location and headers found at index 151. Ending current table and starting new table.
current_province: QUEZON, current_city: ATIMONAN, current_barangay: POBLACION(ZONE2)
Processing table 2

Row: 0    MAHARLIKA HIGHWAY
1                  NaN
2                   CR
3                 8250
Name: 156, dtype: object

Data row at index 156: ['MAHARLIKA HIGHWAY', nan, 'CR', 8250]
Row: 0     NaN
1     NaN
2      RR
3    7000
Name: 157, dtype: object

Data row at index 157: [nan, nan, 'RR', 7000]
Row: 0     NaN
1     NaN
2      GP
3    3750
Name: 158, dtype: object

Data row at index 158: [nan, nan, 'GP', 3750]
Row: 0     NaN
1     NaN
2      CL
3    2750
Name: 159, dtype: object

Data row at index 159: [nan, nan, 'CL', 2750]
Row: 0     NaN
1     NaN
2       X
3    5250
Name: 160, dtype: object

Data row at index 160: [nan, nan, 'X', 5250]
Row: 0              NaN
1    INTERIOR LOTS
2               RR
3             5250
Name: 161, dtype: object

Data row at index 161: [nan, 'INTERIOR LOTS', 'RR', 5250]
Row: 0    AGUINALDO ST.
1              NaN
2               CR
3             8250
Name: 162, dtype: object

Data row at index 162: ['AGUINALDO ST.', nan, 'CR', 8250]
Row: 0     NaN
1     NaN
2      RR
3    7000
Name: 163, dtype: object

Data row at index 163: [nan, nan, 'RR', 7000]
Row: 0     NaN
1     NaN
2       X
3    5250
Name: 164, dtype: object

Data row at index 164: [nan, nan, 'X', 5250]
Row: 0     NaN
1     NaN
2      GP
3    3750
Name: 165, dtype: object

Data row at index 165: [nan, nan, 'GP', 3750]
Row: 0              NaN
1    INTERIOR LOTS
2               RR
3             5000
Name: 166, dtype: object

Data row at index 166: [nan, 'INTERIOR LOTS', 'RR', 5000]
Row: 0    BALAGTAS ST.
1             NaN
2              CR
3            7000
Name: 167, dtype: object

Data row at index 167: ['BALAGTAS ST.', nan, 'CR', 7000]
Row: 0     NaN
1     NaN
2      RR
3    5750
Name: 168, dtype: object

Data row at index 168: [nan, nan, 'RR', 5750]
Row: 0     NaN
1     NaN
2      GP
3    3750
Name: 169, dtype: object

Data row at index 169: [nan, nan, 'GP', 3750]
Row: 0    DE GRACIA ST.
1              NaN
2               CR
3             7000
Name: 170, dtype: object

Data row at index 170: ['DE GRACIA ST.', nan, 'CR', 7000]
Row: 0     NaN
1     NaN
2       X
3    4750
Name: 171, dtype: object

Data row at index 171: [nan, nan, 'X', 4750]
Row: 0     NaN
1     NaN
2      RR
3    5750
Name: 172, dtype: object

Data row at index 172: [nan, nan, 'RR', 5750]
Row: 0     NaN
1     NaN
2      GP
3    3750
Name: 173, dtype: object

Data row at index 173: [nan, nan, 'GP', 3750]
Row: 0    DESEMBRANA ST.
1               NaN
2                CR
3              7000
Name: 174, dtype: object

Data row at index 174: ['DESEMBRANA ST.', nan, 'CR', 7000]
Row: 0     NaN
1     NaN
2      RR
3    5750
Name: 175, dtype: object

Data row at index 175: [nan, nan, 'RR', 5750]
Row: 0    G. ORDA ST.
1            NaN
2             CR
3           8750
Name: 176, dtype: object

Data row at index 176: ['G. ORDA ST.', nan, 'CR', 8750]
Row: 0     NaN
1     NaN
2      RR
3    7250
Name: 177, dtype: object

Data row at index 177: [nan, nan, 'RR', 7250]
Row: 0     NaN
1     NaN
2       X
3    5250
Name: 178, dtype: object

Data row at index 178: [nan, nan, 'X', 5250]
Row: 0              NaN
1    INTERIOR LOTS
2               RR
3             6250
Name: 179, dtype: object

Data row at index 179: [nan, 'INTERIOR LOTS', 'RR', 6250]
Row: 0      HUNTERS ROTC
1    COR. RIZAL ST.
2                CR
3              7000
Name: 180, dtype: object

Data row at index 180: ['HUNTERS ROTC', 'COR. RIZAL ST.', 'CR', 7000]
Row: 0     NaN
1     NaN
2      RR
3    5750
Name: 181, dtype: object

Data row at index 181: [nan, nan, 'RR', 5750]
Row: 0     NaN
1     NaN
2      GP
3    3750
Name: 182, dtype: object

Data row at index 182: [nan, nan, 'GP', 3750]
Row: 0              NaN
1    INTERIOR LOTS
2               RR
3             4750
Name: 183, dtype: object

Data row at index 183: [nan, 'INTERIOR LOTS', 'RR', 4750]
Row: 0    MABINI ST.
1           NaN
2            CR
3          7000
Name: 184, dtype: object

Data row at index 184: ['MABINI ST.', nan, 'CR', 7000]
Row: 0     NaN
1     NaN
2       X
3    5250
Name: 185, dtype: object

Data row at index 185: [nan, nan, 'X', 5250]
Row: 0     NaN
1     NaN
2      RR
3    5750
Name: 186, dtype: object

Data row at index 186: [nan, nan, 'RR', 5750]
Row: 0     NaN
1     NaN
2      GP
3    3750
Name: 187, dtype: object

Data row at index 187: [nan, nan, 'GP', 3750]
Row: 0              NaN
1    INTERIOR LOTS
2               RR
3             4750
Name: 188, dtype: object

Data row at index 188: [nan, 'INTERIOR LOTS', 'RR', 4750]
Row: 0    MALVAR ST.
1           NaN
2            CR
3          7000
Name: 189, dtype: object

Data row at index 189: ['MALVAR ST.', nan, 'CR', 7000]
Row: 0     NaN
1     NaN
2      RR
3    5750
Name: 190, dtype: object

Data row at index 190: [nan, nan, 'RR', 5750]
Row: 0    MANILA ST.
1           NaN
2            CR
3          8250
Name: 191, dtype: object

Data row at index 191: ['MANILA ST.', nan, 'CR', 8250]
Row: 0     NaN
1     NaN
2       X
3    5250
Name: 192, dtype: object

Data row at index 192: [nan, nan, 'X', 5250]
Row: 0     NaN
1     NaN
2      RR
3    7000
Name: 193, dtype: object

Data row at index 193: [nan, nan, 'RR', 7000]
Row: 0     NaN
1     NaN
2      GP
3    3750
Name: 194, dtype: object

Data row at index 194: [nan, nan, 'GP', 3750]
Row: 0    OSMEÃ‘A ST.
1           NaN
2            CR
3          8750
Name: 195, dtype: object

Data row at index 195: ['OSMEÃ‘A ST.', nan, 'CR', 8750]
Row: 0     NaN
1     NaN
2      RR
3    7750
Name: 196, dtype: object

Data row at index 196: [nan, nan, 'RR', 7750]
Row: 0              NaN
1    INTERIOR LOTS
2               RR
3             5750
Name: 197, dtype: object

Data row at index 197: [nan, 'INTERIOR LOTS', 'RR', 5750]
Row: 0    QUEZON ST.
1           NaN
2            CR
3         11500
Name: 198, dtype: object

Data row at index 198: ['QUEZON ST.', nan, 'CR', 11500]
Row: 0     NaN
1     NaN
2      RR
3    9500
Name: 199, dtype: object

Data row at index 199: [nan, nan, 'RR', 9500]
Row: 0     NaN
1     NaN
2       X
3    7000
Name: 200, dtype: object

Data row at index 200: [nan, nan, 'X', 7000]
Row: 0    R. MATANDA ST.
1               NaN
2                CR
3              7000
Name: 201, dtype: object

Data row at index 201: ['R. MATANDA ST.', nan, 'CR', 7000]
Row: 0     NaN
1     NaN
2      RR
3    5750
Name: 202, dtype: object

Data row at index 202: [nan, nan, 'RR', 5750]
Row: 0    REYES ST.
1           NaN
2            CR
3          8250
Name: 203, dtype: object

Data row at index 203: ['REYES ST. ', nan, 'CR', 8250]
Row: 0     NaN
1     NaN
2      RR
3    7000
Name: 204, dtype: object

Data row at index 204: [nan, nan, 'RR', 7000]
Row: 0    RIZAL ST.
1          NaN
2           CR
3        11500
Name: 205, dtype: object

Data row at index 205: ['RIZAL ST.', nan, 'CR', 11500]
Row: 0     NaN
1     NaN
2      RR
3    8750
Name: 206, dtype: object

Data row at index 206: [nan, nan, 'RR', 8750]
Row: 0    RAMON SOLER ST
1               NaN
2                CR
3              8250
Name: 207, dtype: object

Data row at index 207: ['RAMON SOLER ST', nan, 'CR', 8250]
Row: 0     NaN
1     NaN
2      RR
3    7000
Name: 208, dtype: object

Data row at index 208: [nan, nan, 'RR', 7000]
Row: 0     NaN
1     NaN
2       X
3    5250
Name: 209, dtype: object

Data row at index 209: [nan, nan, 'X', 5250]
Barangay/Zone match found in row 212: II)RR5750
Row: 0     NaN
1     NaN
2      GP
3    4250
Name: 210, dtype: object

Data row at index 210: [nan, nan, 'GP', 4250]
Barangay/Zone match found in row 212: II)RR5750
Row: 0              NaN
1    INTERIOR LOTS
2               RR
3             5750
Name: 211, dtype: object

Data row at index 211: [nan, 'INTERIOR LOTS', 'RR', 5750]
Barangay/Zone match found in row 212: II)RR5750
Province match found in row 214: QUEZON
Row: 0    VILLA JUANA SUBD. (ZONEII)
1                           NaN
2                            RR
3                          5750
Name: 212, dtype: object

Data row at index 212: ['VILLA JUANA SUBD. (ZONEII)', nan, 'RR', 5750]
Province match found in row 214: QUEZON
City/Municipality match found in row 215: ATIMONAN
Headers found at index 218
Header indices: {'street_name_index': 0, 'vicinity_index': 1, 'classification_index': 2, 'zv_sq_m_index': 3}
Row: 0    NaN
1    NaN
2    NaN
3    NaN
Name: 213, dtype: object

Data row at index 213: [nan, nan, nan, nan]
Province match found in row 214: QUEZON
City/Municipality match found in row 215: ATIMONAN
Barangay/Zone match found in row 216: POBLACION (ZONE 3)
Headers found at index 218
Header indices: {'street_name_index': 0, 'vicinity_index': 1, 'classification_index': 2, 'zv_sq_m_index': 3}
Row: 0    Province:
1       QUEZON
2          NaN
3          NaN
Name: 214, dtype: object

New location and headers found at index 214. Ending current table and starting new table.
current_province: QUEZON, current_city: ATIMONAN, current_barangay: POBLACION (ZONE 3)
Processing table 3

Row: 0    V. AGUILAR ST.
1               NaN
2                CR
3              6750
Name: 219, dtype: object

Data row at index 219: ['V. AGUILAR ST.', nan, 'CR', 6750]
Row: 0     NaN
1     NaN
2      RR
3    5750
Name: 220, dtype: object

Data row at index 220: [nan, nan, 'RR', 5750]
Row: 0    BONIFACIO ST.
1              NaN
2               CR
3             7750
Name: 221, dtype: object

Data row at index 221: ['BONIFACIO ST.', nan, 'CR', 7750]
Row: 0     NaN
1     NaN
2      RR
3    6250
Name: 222, dtype: object

Data row at index 222: [nan, nan, 'RR', 6250]
Row: 0    DESEMBRANA ST.
1               NaN
2                CR
3              8250
Name: 223, dtype: object

Data row at index 223: ['DESEMBRANA ST.', nan, 'CR', 8250]
Row: 0     NaN
1     NaN
2      RR
3    6750
Name: 224, dtype: object

Data row at index 224: [nan, nan, 'RR', 6750]
Row: 0    REGINO DIAZ ST.
1                NaN
2                 CR
3               7750
Name: 225, dtype: object

Data row at index 225: ['REGINO DIAZ ST.', nan, 'CR', 7750]
Row: 0     NaN
1     NaN
2      RR
3    5750
Name: 226, dtype: object

Data row at index 226: [nan, nan, 'RR', 5750]
Row: 0    GOV. CASTRO ST
1               NaN
2                CR
3              9250
Name: 227, dtype: object

Data row at index 227: ['GOV. CASTRO ST', nan, 'CR', 9250]
Row: 0               NaN
1    COR. RIZAL ST.
2                RR
3              7250
Name: 228, dtype: object

Data row at index 228: [nan, 'COR. RIZAL ST.', 'RR', 7250]
Row: 0    HUNTERS ROTC
1             NaN
2              CR
3            6750
Name: 229, dtype: object

Data row at index 229: ['HUNTERS ROTC', nan, 'CR', 6750]
Row: 0     NaN
1     NaN
2      RR
3    5750
Name: 230, dtype: object

Data row at index 230: [nan, nan, 'RR', 5750]
Row: 0     NaN
1     NaN
2      GP
3    3750
Name: 231, dtype: object

Data row at index 231: [nan, nan, 'GP', 3750]
Row: 0    JUEZ ANDRES ST.
1                NaN
2                 CR
3               9250
Name: 232, dtype: object

Data row at index 232: ['JUEZ ANDRES ST.', nan, 'CR', 9250]
Row: 0     NaN
1     NaN
2      RR
3    7250
Name: 233, dtype: object

Data row at index 233: [nan, nan, 'RR', 7250]
Row: 0              NaN
1    INTERIOR LOTS
2               RR
3             5250
Name: 234, dtype: object

Data row at index 234: [nan, 'INTERIOR LOTS', 'RR', 5250]
Row: 0    MABINI ST.
1           NaN
2            CR
3          6750
Name: 235, dtype: object

Data row at index 235: ['MABINI ST.', nan, 'CR', 6750]
Row: 0     NaN
1     NaN
2      RR
3    5750

In [171]:
processed

,Province,City/Municipality,Barangay,Street/Subdivision,Vicinity,Classification,ZV/SQM
0,QUEZON,ATIMONAN,POBLACION (ZONE 1),MAHARLIKA HIGHWAY,None,CR,7800
1,QUEZON,ATIMONAN,POBLACION (ZONE 1),MAHARLIKA HIGHWAY,None,RR,6750
2,QUEZON,ATIMONAN,POBLACION (ZONE 1),MAHARLIKA HIGHWAY,None,GP,4000
3,QUEZON,ATIMONAN,POBLACION (ZONE 1),MAHARLIKA HIGHWAY,None,CL,3000
4,QUEZON,ATIMONAN,POBLACION (ZONE 1),MAHARLIKA HIGHWAY,MENDOZA COMPOUND,RR,6000
...,...,...,...,...,...,...,...
4050,QUEZON,TAGKAWAYAN,VICTORIA,ALL LOTS,None,A4,117.5
4051,QUEZON,TAGKAWAYAN,VICTORIA,ALL LOTS,None,A5,70
4052,QUEZON,TAGKAWAYAN,VICTORIA,ALL LOTS,None,A6,225
4053,QUEZON,TAGKAWAYAN,VICTORIA,ALL LOTS,None,A10,35
4054,QUEZON,TAGKAWAYAN,VICTORIA,ALL LOTS,None,A50,35

In [75]:
row = df.iloc[106]
row

0    STREET NAME / SUBDIVISION/ CONDOMINIUM
1                                  VICINITY
2                                     CLASS
3                                   3rd Rev
Name: 106, dtype: object

In [82]:
for col_index, cell in enumerate(row):
    print(f"{col_index}: {cell}")

0: STREET NAME / SUBDIVISION/ CONDOMINIUM
1: VICINITY
2: CLASS
3: 3rd Rev

In [86]:
x = re.search(r"ZV.*SQ.*M|3rd\s*Rev", cell, re.IGNORECASE)
print(x)

<re.Match object; span=(0, 7), match='3rd Rev'>

In [97]:
def find_column_headers(df, index):
    headers = {
        'street_name_index': None,
        'vicinity_index': None,
        'classification_index': None,
        'zv_sq_m_index': None
    }
    
    # Search within the next 3 rows for headers
    for offset in range(3):
        current_index = index + offset
        if current_index >= len(df):
            break
        row = df.iloc[current_index]
        
        for col_index, cell in enumerate(row):
            cell_value = str(cell)
            
            if headers['street_name_index'] is None and re.search(r"(STREET NAME|SUBDIVISION|CONDOMINIUM)", cell_value, re.IGNORECASE):
                headers['street_name_index'] = col_index
            
            if headers['vicinity_index'] is None and re.search(r"V.*I.*C.*I.*N.*I.*T.*Y", cell_value, re.IGNORECASE):
                headers['vicinity_index'] = col_index
            
            if headers['classification_index'] is None and re.search(r"CLASS(?:IFICATION)?|C.*L.*A.*S.*S.*I.*F.*I.*C.*A.*T.*I.*O.*N", cell_value, re.IGNORECASE | re.DOTALL):
                headers['classification_index'] = col_index
            
            if headers['zv_sq_m_index'] is None and re.search(r"ZV.*SQ.*M|3rd\s*Rev", cell_value, re.IGNORECASE): 
                headers['zv_sq_m_index'] = col_index
        
        if all(value is not None for value in headers.values()):
            print(f"Headers found at index {current_index}")
            print(f"Header indices: {headers}")
            return True, headers, current_index + 1
    
    return False, None, index

In [98]:
find_column_headers(df, 106)

Headers found at index 106
Header indices: {'street_name_index': 0, 'vicinity_index': 1, 'classification_index': 2, 'zv_sq_m_index': 3}

(True,
 {'street_name_index': 0,
  'vicinity_index': 1,
  'classification_index': 2,
  'zv_sq_m_index': 3},
 107)

In [96]:
bool(0)

False

In [105]:
import pandas as pd
import re

def clean_value(value):
    """Cleans the extracted text by removing unwanted characters."""
    return value.strip() if isinstance(value, str) else value

def test_function():
    """Placeholder function for debugging or logging purposes."""
    pass

def extract_value(pattern, text):
    """
    Searches for the given pattern in the text and returns the matched group.
    """
    match = re.search(pattern, text, re.IGNORECASE)
    if match:
        return match.group(1).strip()
    else:
        return None

def find_column_headers(df, index):
    """
    Searches for the column headers in the DataFrame starting from the given index.
    Returns a tuple (found, header_indices, new_index) where:
    - found: True if headers are found
    - header_indices: dictionary mapping header names to column indices
    - new_index: the index after the headers
    """
    headers = {
        'street_name_index': None,
        'vicinity_index': None,
        'classification_index': None,
        'zv_sq_m_index': None
    }
    
    # Search within the next 3 rows for headers
    for offset in range(3):
        current_index = index + offset
        if current_index >= len(df):
            break
        row = df.iloc[current_index]
        
        for col_index, cell in enumerate(row):
            cell_value = str(cell)
            
            if headers['street_name_index'] is None and re.search(r"(STREET NAME|SUBDIVISION|CONDOMINIUM)", cell_value, re.IGNORECASE):
                headers['street_name_index'] = col_index
            
            if headers['vicinity_index'] is None and re.search(r"V.*I.*C.*I.*N.*I.*T.*Y", cell_value, re.IGNORECASE):
                headers['vicinity_index'] = col_index
            
            if headers['classification_index'] is None and re.search(r"CLASS(?:IFICATION)?|C.*L.*A.*S.*S.*I.*F.*I.*C.*A.*T.*I.*O.*N", cell_value, re.IGNORECASE | re.DOTALL):
                headers['classification_index'] = col_index
            
            if headers['zv_sq_m_index'] is None and re.search(r"ZV.*SQ.*M|3rd\s*Rev", cell_value, re.IGNORECASE): 
                headers['zv_sq_m_index'] = col_index
        
        if all(value is not None for value in headers.values()):
            print(f"Headers found at index {current_index}")
            print(f"Header indices: {headers}")
            return True, headers, current_index + 1
    
    return False, None, index

def check_for_location_components(df, index, proximity_window=5):
    """
    Checks within a proximity window starting from the given index for location components.
    Returns a tuple (found_any, found_all, location_data, new_index)
    - found_any: True if any location component is found
    - found_all: True if all location components are found
    - location_data: Dictionary with location components
    - new_index: The index to continue from
    """
    found_province = False
    found_city = False
    found_barangay = False
    current_province = None
    current_city = None
    current_barangay = None
    
    for offset in range(proximity_window):
        current_index = index + offset
        if current_index >= len(df):
            break
        current_row = df.iloc[current_index]
        combined_current_row = ''.join(map(str, current_row.dropna())).strip()
        
        # Check for Province
        if not found_province:
            province = extract_value(r"province\s*[:\s]?\s*(.*)", combined_current_row)
            if province:
                current_province = clean_value(province)
                found_province = True
                print(f"Province match found in row {current_index}: {current_province}")
        
        # Check for City/Municipality
        if not found_city:
            city = extract_value(r"(?:City|Municipality)(?:\s*/\s*(?:City|Municipality))?\s*[:\s]?\s*(.+)", combined_current_row)
            if city:
                current_city = clean_value(city)
                found_city = True
                print(f"City/Municipality match found in row {current_index}: {current_city}")
        
        # Check for Barangay/Zone
        if not found_barangay:
            barangay = extract_value(r"(?:Barangay|Zone)(?:\s*/\s*(?:Barangay|Zone))?\s*[:\s]?\s*(.+)", combined_current_row)
            if barangay:
                current_barangay = clean_value(barangay)
                found_barangay = True
                print(f"Barangay/Zone match found in row {current_index}: {current_barangay}")
        
        if found_province or found_city or found_barangay:
            # Return the index where location component is found
            location_data = {
                'province': current_province,
                'city': current_city,
                'barangay': current_barangay
            }
            return True, found_province and found_city and found_barangay, location_data, current_index
    # If no location components found
    return False, False, None, index

def main(df):
    """
    Processes the DataFrame to extract structured data based on Province, City/Municipality,
    Barangay/Zone, and additional information like Street/Subdivision, Vicinity, Classification,
    and ZV/SQM.
    
    This version stops the current table processing when it encounters new location components,
    updates the variables accordingly, and begins a new table.
    """
    index = 0
    count = 0
    new_df = pd.DataFrame(columns=['Province', 'City/Municipality', 'Barangay', 
                                   'Street/Subdivision', 'Vicinity', 'Classification', 'ZV/SQM'])
    
    # Initialize variables to store current location information
    current_province = None
    current_city = None
    current_barangay = None
    
    while index < len(df):
        print(f"=================\nROW INDEX: {index}\n=================")
        # Before processing data, check if new location components are found
        found_any, found_all, location_data, new_index = check_for_location_components(df, index)
        if found_any:
            # If new location components are found, update variables
            if location_data['province']:
                current_province = location_data['province']
            if location_data['city']:
                current_city = location_data['city']
            if location_data['barangay']:
                current_barangay = location_data['barangay']
            index = new_index + 1  # Move index past the location component row(s)
            print(f"Updated location info at index {index}: Province={current_province}, City={current_city}, Barangay={current_barangay}")
            
            # Now, find the column headers starting from the current index
            found_headers, header_indices, new_index = find_column_headers(df, index)
            if found_headers:
                index = new_index  # Move index to after headers
                
                # Start reading data rows
                count += 1
                print(f'Processing table {count}\n')
                
                col1_holder = None
                vicinity_holder = None
                while index < len(df):
                    row = df.iloc[index]
                    
                    # Before processing the row, check if new location components are found
                    found_any, _, location_data, loc_index = check_for_location_components(df, index)
                    if found_any:
                        # New location components found, end current table processing
                        print(f"New location components found at index {index}. Ending current table.")
                        break  # Exit the data row processing loop to handle the new table
                    
                    # Extract data using the header indices
                    col1 = row.iloc[header_indices['street_name_index']]
                    vicinity = row.iloc[header_indices['vicinity_index']]
                    classification = row.iloc[header_indices['classification_index']]
                    zv = row.iloc[header_indices['zv_sq_m_index']]
                    print(f"Data row at index {index}: {[col1, vicinity, classification, zv]}")
                    
                    # Check if both classification and ZV/SQM are empty
                    if (pd.isnull(classification) or str(classification).strip() == '') and \
                       (pd.isnull(zv) or str(zv).strip() == ''):
                        index += 1
                        continue  # Skip this row as it doesn't contain valid data
                    
                    # Handle missing values by carrying forward the last known values
                    if pd.isnull(col1) or str(col1).strip() == '':
                        col1 = col1_holder
                    else:
                        col1_holder = col1
                        
                    if pd.isnull(vicinity) or str(vicinity).strip() == '':
                        vicinity = vicinity_holder
                    else:
                        vicinity_holder = vicinity
                    
                    # Append the extracted data to new_df
                    new_df.loc[len(new_df)] = [
                        current_province, 
                        current_city, 
                        current_barangay, 
                        clean_value(col1), 
                        clean_value(vicinity), 
                        clean_value(classification), 
                        clean_value(zv)
                    ]
                    
                    index += 1  # Move to the next row
                
                # After processing data rows, continue to the next iteration to find new tables
                continue
            else:
                # Headers not found, cannot process table, move to next index
                index += 1
                continue
        else:
            # No new location components found, move to next index
            index += 1
    
    print(f"Total tables processed: {count}")
    return new_df

In [106]:
for excel in excel_files[22:23]:
    df = xls_to_df(excel)
    processed = main(df)
    processed.to_excel(f"Output/{excel}.xlsx")

=================
ROW INDEX: 0
=================
=================
ROW INDEX: 1
=================
=================
ROW INDEX: 2
=================
=================
ROW INDEX: 3
=================
=================
ROW INDEX: 4
=================
=================
ROW INDEX: 5
=================
=================
ROW INDEX: 6
=================
=================
ROW INDEX: 7
=================
=================
ROW INDEX: 8
=================
=================
ROW INDEX: 9
=================
=================
ROW INDEX: 10
=================
=================
ROW INDEX: 11
=================
=================
ROW INDEX: 12
=================
=================
ROW INDEX: 13
=================
Barangay/Zone match found in row 17: s or areas and shall determine the fair market value of real properties located in each zone or
Updated location info at index 18: Province=None, City=None, Barangay=s or areas and shall determine the fair market value of real properties located in each zone or
=================
ROW INDEX: 19
=================
=================
ROW INDEX: 20
=================
=================
ROW INDEX: 21
=================
=================
ROW INDEX: 22
=================
=================
ROW INDEX: 23
=================
=================
ROW INDEX: 24
=================
City/Municipality match found in row 28: assessor and (2) the gross selling price/consideration as shown in the
Updated location info at index 29: Province=None, City=assessor and (2) the gross selling price/consideration as shown in the, Barangay=s or areas and shall determine the fair market value of real properties located in each zone or
=================
ROW INDEX: 30
=================
=================
ROW INDEX: 31
=================
=================
ROW INDEX: 32
=================
=================
ROW INDEX: 33
=================
=================
ROW INDEX: 34
=================
=================
ROW INDEX: 35
=================
=================
ROW INDEX: 36
=================
=================
ROW INDEX: 37
=================
=================
ROW INDEX: 38
=================
=================
ROW INDEX: 39
=================
=================
ROW INDEX: 40
=================
=================
ROW INDEX: 41
=================
=================
ROW INDEX: 42
=================
=================
ROW INDEX: 43
=================
=================
ROW INDEX: 44
=================
=================
ROW INDEX: 45
=================
=================
ROW INDEX: 46
=================
=================
ROW INDEX: 47
=================
=================
ROW INDEX: 48
=================
=================
ROW INDEX: 49
=================
=================
ROW INDEX: 50
=================
=================
ROW INDEX: 51
=================
=================
ROW INDEX: 52
=================
=================
ROW INDEX: 53
=================
=================
ROW INDEX: 54
=================
=================
ROW INDEX: 55
=================
=================
ROW INDEX: 56
=================
=================
ROW INDEX: 57
=================
=================
ROW INDEX: 58
=================
=================
ROW INDEX: 59
=================
=================
ROW INDEX: 60
=================
=================
ROW INDEX: 61
=================
=================
ROW INDEX: 62
=================
=================
ROW INDEX: 63
=================
=================
ROW INDEX: 64
=================
=================
ROW INDEX: 65
=================
=================
ROW INDEX: 66
=================
=================
ROW INDEX: 67
=================
=================
ROW INDEX: 68
=================
=================
ROW INDEX: 69
=================
=================
ROW INDEX: 70
=================
=================
ROW INDEX: 71
=================
=================
ROW INDEX: 72
=================
=================
ROW INDEX: 73
=================
=================
ROW INDEX: 74
=================
=================
ROW INDEX: 75
=================
=================
ROW INDEX: 76
=================
=================
ROW INDEX: 77
=================
=================
ROW INDEX: 78
=================
=================
ROW INDEX: 79
=================
=================
ROW INDEX: 80
=================
=================
ROW INDEX: 81
=================
=================
ROW INDEX: 82
=================
=================
ROW INDEX: 83
=================
=================
ROW INDEX: 84
=================
=================
ROW INDEX: 85
=================
=================
ROW INDEX: 86
=================
=================
ROW INDEX: 87
=================
Barangay/Zone match found in row 91: sA45  Kangkong
Updated location info at index 92: Province=None, City=assessor and (2) the gross selling price/consideration as shown in the, Barangay=sA45  Kangkong
=================
ROW INDEX: 93
=================
=================
ROW INDEX: 94
=================
=================
ROW INDEX: 95
=================
=================
ROW INDEX: 96
=================
=================
ROW INDEX: 97
=================
=================
ROW INDEX: 98
=================
Province match found in row 102: QUEZON
Updated location info at index 103: Province=QUEZON, City=assessor and (2) the gross selling price/consideration as shown in the, Barangay=sA45  Kangkong
=================
ROW INDEX: 104
=================
Barangay/Zone match found in row 104: POBLACION (ZONE 1)D.O. No.037-2022
Updated location info at index 105: Province=QUEZON, City=assessor and (2) the gross selling price/consideration as shown in the, Barangay=POBLACION (ZONE 1)D.O. No.037-2022
Headers found at index 106
Header indices: {'street_name_index': 0, 'vicinity_index': 1, 'classification_index': 2, 'zv_sq_m_index': 3}
Processing table 1

Data row at index 107: ['MAHARLIKA HIGHWAY', nan, 'CR', 7800]
Data row at index 108: [nan, nan, 'RR', 6750]
Data row at index 109: [nan, nan, 'GP', 4000]
Data row at index 110: [nan, nan, 'CL', 3000]
Data row at index 111: [nan, 'MENDOZA COMPOUND', 'RR', 6000]
Data row at index 112: ['AGUINALDO ST.', nan, 'CR', 8250]
Data row at index 113: [nan, nan, 'RR', 6750]
Data row at index 114: [nan, 'INTERIOR LOTS', 'RR', 5250]
Data row at index 115: ['ANGELES ST.', nan, 'CR', 7750]
Data row at index 116: [nan, nan, 'RR', 6750]
Data row at index 117: ['BALAGTAS ST.', nan, 'CR', 7250]
Data row at index 118: [nan, nan, 'RR', 6500]
Data row at index 119: ['CERRUDO ST.', 'Emil-Joana Hosp.', 'CR', 11500]
Data row at index 120: [nan, nan, 'X', 6750]
Data row at index 121: [nan, nan, 'RR', 6750]
Data row at index 122: [nan, nan, 'GP', 4750]
Data row at index 123: [nan, 'INTERIOR LOTS', 'RR', 5250]
Data row at index 124: ['DE GRACIA ST.', nan, 'CR', 6750]
Data row at index 125: [nan, nan, 'X', 7500]
Data row at index 126: [nan, nan, 'RR', 5750]
Data row at index 127: ['DOÃ‘A AURORA ST.', nan, 'CR', 6750]
Data row at index 128: [nan, nan, 'X', 4750]
Data row at index 129: [nan, nan, 'RR', 5750]
Data row at index 130: ['ENRIQUEZ ST.', nan, 'CR', 8500]
Data row at index 131: [nan, nan, 'RR', 6000]
Data row at index 132: ['G. ORDA ST.', nan, 'CR', 8500]
Data row at index 133: [nan, nan, 'RR', 6000]
Data row at index 134: ['ISKONG BANTAY ST.', nan, 'CR', 8500]
Data row at index 135: [nan, nan, 'RR', 6000]
Data row at index 136: ['LEON GUINTO BLVD', nan, 'CR', 8250]
Data row at index 137: [nan, nan, 'RR', 5750]
Data row at index 138: [nan, 'INTERIOR LOTS', 'RR', 4500]
Data row at index 139: ['MAGALLANES ST. (NOW LAURIO ST.)', nan, 'CR', 6750]
Data row at index 140: [nan, nan, 'RR', 5500]
Data row at index 141: ['MANALO ST.', nan, 'CR', 8250]
Data row at index 142: [nan, nan, 'RR', 6000]
Data row at index 143: [nan, 'INTERIOR LOTS', 'RR', 5500]
Data row at index 144: ['QUEZON ST.', nan, 'CR', 11500]
Data row at index 145: [nan, nan, 'RR', 9500]
Data row at index 146: ['REYES ST. ', nan, 'CR', 8500]
Province match found in row 151: QUEZON
New location components found at index 147. Ending current table.
=================
ROW INDEX: 147
=================
Province match found in row 151: QUEZON
Updated location info at index 152: Province=QUEZON, City=assessor and (2) the gross selling price/consideration as shown in the, Barangay=POBLACION (ZONE 1)D.O. No.037-2022
=================
ROW INDEX: 153
=================
Barangay/Zone match found in row 153: POBLACION(ZONE2)D.O. No.037-2022
Updated location info at index 154: Province=QUEZON, City=assessor and (2) the gross selling price/consideration as shown in the, Barangay=POBLACION(ZONE2)D.O. No.037-2022
Headers found at index 155
Header indices: {'street_name_index': 0, 'vicinity_index': 1, 'classification_index': 2, 'zv_sq_m_index': 3}
Processing table 2

Data row at index 156: ['MAHARLIKA HIGHWAY', nan, 'CR', 8250]
Data row at index 157: [nan, nan, 'RR', 7000]
Data row at index 158: [nan, nan, 'GP', 3750]
Data row at index 159: [nan, nan, 'CL', 2750]
Data row at index 160: [nan, nan, 'X', 5250]
Data row at index 161: [nan, 'INTERIOR LOTS', 'RR', 5250]
Data row at index 162: ['AGUINALDO ST.', nan, 'CR', 8250]
Data row at index 163: [nan, nan, 'RR', 7000]
Data row at index 164: [nan, nan, 'X', 5250]
Data row at index 165: [nan, nan, 'GP', 3750]
Data row at index 166: [nan, 'INTERIOR LOTS', 'RR', 5000]
Data row at index 167: ['BALAGTAS ST.', nan, 'CR', 7000]
Data row at index 168: [nan, nan, 'RR', 5750]
Data row at index 169: [nan, nan, 'GP', 3750]
Data row at index 170: ['DE GRACIA ST.', nan, 'CR', 7000]
Data row at index 171: [nan, nan, 'X', 4750]
Data row at index 172: [nan, nan, 'RR', 5750]
Data row at index 173: [nan, nan, 'GP', 3750]
Data row at index 174: ['DESEMBRANA ST.', nan, 'CR', 7000]
Data row at index 175: [nan, nan, 'RR', 5750]
Data row at index 176: ['G. ORDA ST.', nan, 'CR', 8750]
Data row at index 177: [nan, nan, 'RR', 7250]
Data row at index 178: [nan, nan, 'X', 5250]
Data row at index 179: [nan, 'INTERIOR LOTS', 'RR', 6250]
Data row at index 180: ['HUNTERS ROTC', 'COR. RIZAL ST.', 'CR', 7000]
Data row at index 181: [nan, nan, 'RR', 5750]
Data row at index 182: [nan, nan, 'GP', 3750]
Data row at index 183: [nan, 'INTERIOR LOTS', 'RR', 4750]
Data row at index 184: ['MABINI ST.', nan, 'CR', 7000]
Data row at index 185: [nan, nan, 'X', 5250]
Data row at index 186: [nan, nan, 'RR', 5750]
Data row at index 187: [nan, nan, 'GP', 3750]
Data row at index 188: [nan, 'INTERIOR LOTS', 'RR', 4750]
Data row at index 189: ['MALVAR ST.', nan, 'CR', 7000]
Data row at index 190: [nan, nan, 'RR', 5750]
Data row at index 191: ['MANILA ST.', nan, 'CR', 8250]
Data row at index 192: [nan, nan, 'X', 5250]
Data row at index 193: [nan, nan, 'RR', 7000]
Data row at index 194: [nan, nan, 'GP', 3750]
Data row at index 195: ['OSMEÃ‘A ST.', nan, 'CR', 8750]
Data row at index 196: [nan, nan, 'RR', 7750]
Data row at index 197: [nan, 'INTERIOR LOTS', 'RR', 5750]
Data row at index 198: ['QUEZON ST.', nan, 'CR', 11500]
Data row at index 199: [nan, nan, 'RR', 9500]
Data row at index 200: [nan, nan, 'X', 7000]
Data row at index 201: ['R. MATANDA ST.', nan, 'CR', 7000]
Data row at index 202: [nan, nan, 'RR', 5750]
Data row at index 203: ['REYES ST. ', nan, 'CR', 8250]
Data row at index 204: [nan, nan, 'RR', 7000]
Data row at index 205: ['RIZAL ST.', nan, 'CR', 11500]
Data row at index 206: [nan, nan, 'RR', 8750]
Data row at index 207: ['RAMON SOLER ST', nan, 'CR', 8250]
Barangay/Zone match found in row 212: II)RR5750
New location components found at index 208. Ending current table.
=================
ROW INDEX: 208
=================
Barangay/Zone match found in row 212: II)RR5750
Updated location info at index 213: Province=QUEZON, City=assessor and (2) the gross selling price/consideration as shown in the, Barangay=II)RR5750
=================
ROW INDEX: 214
=================
Province match found in row 214: QUEZON
Updated location info at index 215: Province=QUEZON, City=assessor and (2) the gross selling price/consideration as shown in the, Barangay=II)RR5750
=================
ROW INDEX: 216
=================
Barangay/Zone match found in row 216: POBLACION (ZONE 3)D.O. No.037-2022
Updated location info at index 217: Province=QUEZON, City=assessor and (2) the gross selling price/consideration as shown in the, Barangay=POBLACION (ZONE 3)D.O. No.037-2022
Headers found at index 218
Header indices: {'street_name_index': 0, 'vicinity_index': 1, 'classification_index': 2, 'zv_sq_m_index': 3}
Processing table 3

Data row at index 219: ['V. AGUILAR ST.', nan, 'CR', 6750]
Data row at index 220: [nan, nan, 'RR', 5750]
Data row at index 221: ['BONIFACIO ST.', nan, 'CR', 7750]
Data row at index 222: [nan, nan, 'RR', 6250]
Data row at index 223: ['DESEMBRANA ST.', nan, 'CR', 8250]
Data row at index 224: [nan, nan, 'RR', 6750]
Data row at index 225: ['REGINO DIAZ ST.', nan, 'CR', 7750]
Data row at index 226: [nan, nan, 'RR', 5750]
Data row at index 227: ['GOV. CASTRO ST', nan, 'CR', 9250]
Data row at index 228: [nan, 'COR. RIZAL ST.', 'RR', 7250]
Data row at index 229: ['HUNTERS ROTC', nan, 'CR', 6750]
Data row at index 230: [nan, nan, 'RR', 5750]
Data row at index 231: [nan, nan, 'GP', 3750]
Data row at index 232: ['JUEZ ANDRES ST.', nan, 'CR', 9250]
Data row at index 233: [nan, nan, 'RR', 7250]
Data row at index 234: [nan, 'INTERIOR LOTS', 'RR', 5250]
Data row at index 235: ['MABINI ST.', nan, 'CR', 6750]
Data row at index 236: [nan, nan, 'RR', 5750]
Data row at index 237: ['OSMEÃ‘A ST.', nan, 'CR', 9250]
Data row at index 238: [nan, nan, 'RR', 7750]
Data row at index 239: [nan, 'INTERIOR LOTS', 'RR', 5750]
Data row at index 240: ['QUEZON ST.', nan, 'CR', 11500]
Data row at index 241: [nan, nan, 'RR', 9250]
Data row at index 242: ['RIZAL ST.', nan, 'CR', 11500]
Data row at index 243: [nan, nan, 'RR', 9250]
Data row at index 244: ['RAMON SOLER ST.', nan, 'CR', 8250]
Data row at index 245: [nan, nan, 'RR', 6750]
Data row at index 246: ['VILLAMIEL ST.', nan, 'CR', 6750]
Data row at index 247: [nan, nan, 'RR', 5750]
Province match found in row 252: QUEZON
New location components found at index 248. Ending current table.
=================
ROW INDEX: 248
=================
Province match found in row 252: QUEZON
Updated location info at index 253: Province=QUEZON, City=assessor and (2) the gross selling price/consideration as shown in the, Barangay=POBLACION (ZONE 3)D.O. No.037-2022
=================
ROW INDEX: 254
=================
Barangay/Zone match found in row 254: POBLACION (ZONE 4)D.O. No.037-2022
Updated location info at index 255: Province=QUEZON, City=assessor and (2) the gross selling price/consideration as shown in the, Barangay=POBLACION (ZONE 4)D.O. No.037-2022
Headers found at index 256
Header indices: {'street_name_index': 0, 'vicinity_index': 1, 'classification_index': 2, 'zv_sq_m_index': 3}
Processing table 4

Data row at index 257: ['AMADO ST.', nan, 'CR', 9250]
Data row at index 258: [nan, 'PUBLIC MARKET', 'X', 7250]
Data row at index 259: [nan, nan, 'RR', 7250]
Data row at index 260: [nan, nan, 'GP', 5750]
Data row at index 261: [nan, 'INTERIOR LOTS', 'RR', 5250]
Data row at index 262: ['REGINO DIAZ ST.', nan, 'CR', 8250]
Data row at index 263: [nan, nan, 'RR', 6750]
Data row at index 264: ['F. DIESTRO ST.', nan, 'CR', 8250]
Data row at index 265: [nan, nan, 'RR', 5750]
Data row at index 266: [nan, 'INTERIOR LOTS', 'RR', 4250]
Data row at index 267: ['P. ENRIQUEZ ST.', nan, 'CR', 11500]
Data row at index 268: [nan, nan, 'RR', 9250]
Data row at index 269: ['GOV. CASTRO ST', nan, 'CR', 11500]
Data row at index 270: [nan, nan, 'RR', 9250]
Data row at index 271: [nan, 'INTERIOR LOTS', 'RR', 7250]
Data row at index 272: ['ISKONG BANTAY ST.', nan, 'CR', 11500]
Data row at index 273: [nan, nan, 'RR', 9250]
Data row at index 274: ['JUEZ ANDRES ST.', 'QUEZON ST. TO ISKONG BANTAY ST.', 'CR', 14000]
Data row at index 275: [nan, nan, 'RR', 11500]
Data row at index 276: [nan, 'ISKONG BANTAY TO BOULEVARD', 'CR', 11500]
Data row at index 277: [nan, nan, 'RR', 8750]
Data row at index 278: [nan, 'INTERIOR LOTS', 'RR', 6750]
Data row at index 279: ['LEON GUINTO BLVD', nan, 'CR', 9250]
Data row at index 280: [nan, nan, 'RR', 7750]
Data row at index 281: [nan, nan, 'X', 5750]
Data row at index 282: [nan, 'INTERIOR LOTS', 'RR', 5750]
Data row at index 283: ['QUEZON ST.', nan, 'CR', 11500]
Data row at index 284: [nan, nan, 'RR', 9250]
Data row at index 285: [nan, 'INTERIOR LOTS', 'RR', 7750]
Data row at index 286: ['RICAFORT ST.', nan, 'CR', 9250]
Data row at index 287: [nan, nan, 'X', 7250]
Data row at index 288: [nan, nan, 'RR', 7250]
Data row at index 289: [nan, 'INTERIOR LOTS', 'RR', 5750]
Data row at index 290: ['RIZAL ST.', nan, 'CR', 11500]
Data row at index 291: [nan, nan, 'RR', 9250]
Data row at index 292: ['ZAMORA ST.', nan, 'CR', 9250]
Province match found in row 297: QUEZON
New location components found at index 293. Ending current table.
=================
ROW INDEX: 293
=================
Province match found in row 297: QUEZON
Updated location info at index 298: Province=QUEZON, City=assessor and (2) the gross selling price/consideration as shown in the, Barangay=POBLACION (ZONE 4)D.O. No.037-2022
=================
ROW INDEX: 299
=================
Barangay/Zone match found in row 299: CARIDAD IBABAD.O. No.037-2022
Updated location info at index 300: Province=QUEZON, City=assessor and (2) the gross selling price/consideration as shown in the, Barangay=CARIDAD IBABAD.O. No.037-2022
Headers found at index 301
Header indices: {'street_name_index': 0, 'vicinity_index': 1, 'classification_index': 2, 'zv_sq_m_index': 3}
Processing table 5

Barangay/Zone match found in row 304: ROADRR2000
New location components found at index 302. Ending current table.
=================
ROW INDEX: 302
=================
Barangay/Zone match found in row 304: ROADRR2000
Updated location info at index 305: Province=QUEZON, City=assessor and (2) the gross selling price/consideration as shown in the, Barangay=ROADRR2000
=================
ROW INDEX: 306
=================
=================
ROW INDEX: 307
=================
=================
ROW INDEX: 308
=================
=================
ROW INDEX: 309
=================
=================
ROW INDEX: 310
=================
=================
ROW INDEX: 311
=================
=================
ROW INDEX: 312
=================
=================
ROW INDEX: 313
=================
=================
ROW INDEX: 314
=================
=================
ROW INDEX: 315
=================
=================
ROW INDEX: 316
=================
=================
ROW INDEX: 317
=================
=================
ROW INDEX: 318
=================
=================
ROW INDEX: 319
=================
=================
ROW INDEX: 320
=================
=================
ROW INDEX: 321
=================
=================
ROW INDEX: 322
=================
Province match found in row 326: QUEZON
Updated location info at index 327: Province=QUEZON, City=assessor and (2) the gross selling price/consideration as shown in the, Barangay=ROADRR2000
=================
ROW INDEX: 328
=================
Barangay/Zone match found in row 328: CARIDAD ILAYA
Updated location info at index 329: Province=QUEZON, City=assessor and (2) the gross selling price/consideration as shown in the, Barangay=CARIDAD ILAYA
Headers found at index 330
Header indices: {'street_name_index': 0, 'vicinity_index': 1, 'classification_index': 2, 'zv_sq_m_index': 3}
Processing table 6

Barangay/Zone match found in row 333: ROADRR2000
New location components found at index 331. Ending current table.
=================
ROW INDEX: 331
=================
Barangay/Zone match found in row 333: ROADRR2000
Updated location info at index 334: Province=QUEZON, City=assessor and (2) the gross selling price/consideration as shown in the, Barangay=ROADRR2000
=================
ROW INDEX: 335
=================
=================
ROW INDEX: 336
=================
=================
ROW INDEX: 337
=================
=================
ROW INDEX: 338
=================
=================
ROW INDEX: 339
=================
=================
ROW INDEX: 340
=================
=================
ROW INDEX: 341
=================

In [107]:
processed

,Province,City/Municipality,Barangay,Street/Subdivision,Vicinity,Classification,ZV/SQM
0,QUEZON,assessor and (2) the gross selling price/consi...,POBLACION (ZONE 1)D.O. No.037-2022,MAHARLIKA HIGHWAY,None,CR,7800.0
1,QUEZON,assessor and (2) the gross selling price/consi...,POBLACION (ZONE 1)D.O. No.037-2022,MAHARLIKA HIGHWAY,None,RR,6750.0
2,QUEZON,assessor and (2) the gross selling price/consi...,POBLACION (ZONE 1)D.O. No.037-2022,MAHARLIKA HIGHWAY,None,GP,4000.0
3,QUEZON,assessor and (2) the gross selling price/consi...,POBLACION (ZONE 1)D.O. No.037-2022,MAHARLIKA HIGHWAY,None,CL,3000.0
4,QUEZON,assessor and (2) the gross selling price/consi...,POBLACION (ZONE 1)D.O. No.037-2022,MAHARLIKA HIGHWAY,MENDOZA COMPOUND,RR,6000.0
...,...,...,...,...,...,...,...
2493,QUEZON,assessor and (2) the gross selling price/consi...,VICTORIA,ALL LOTS,None,A4,117.5
2494,QUEZON,assessor and (2) the gross selling price/consi...,VICTORIA,ALL LOTS,None,A5,70
2495,QUEZON,assessor and (2) the gross selling price/consi...,VICTORIA,ALL LOTS,None,A6,225
2496,QUEZON,assessor and (2) the gross selling price/consi...,VICTORIA,ALL LOTS,None,A10,35
2497,QUEZON,assessor and (2) the gross selling price/consi...,VICTORIA,ALL LOTS,None,A50,35